Repository smithy-lang/smithy-rs, pull requests merged in 2022-10, with the labels that each got.

#1788 Move all binaries in the Pokémon service example under `src/bin`
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service-lambda.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service.rs
Labels: server

#1813 Add Server section to the Book
  design/src/SUMMARY.md
  design/src/server/code_generation.md
  design/src/server/instrumentation.md
  design/src/server/overview.md
  design/src/server/pokemon_service.md
Labels: documentation, server

#1802 Fix @sensitive handling in Display implementations on error shapes
  CHANGELOG.next.toml
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/StructureGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/error/ErrorGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/util/Smithy.kt
Labels: needs-review

#1829 Remove Protocol enum
  CHANGELOG.next.toml
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerOperationHandlerGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server-python/src/error.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/handler.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/layer.rs
  rust-runtime/aws-smithy-http-server-python/src/server.rs
  rust-runtime/aws-smithy-http-server/src/extension.rs
  rust-runtime/aws-smithy-http-server/src/protocols.rs
  rust-runtime/aws-smithy-http-server/src/runtime_error.rs
Labels: server, needs-server-review, python-server

#1807 Lambda support for Python servers
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/README.md
  rust-runtime/aws-smithy-http-server-python/src/server.rs
Labels: python-server

#1835 Remove unused generic from customizable ops
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGenerator.kt
Labels: needs-sdk-review

#1782 Add "Anatomy of a Service" documentation
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
  design/src/SUMMARY.md
  design/src/server/anatomy.md
  design/src/server/overview.md
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/plugin.rs
  rust-runtime/aws-smithy-http-server/src/operation/mod.rs
  rust-runtime/aws-smithy-http-server/src/plugin.rs
  rust-runtime/aws-smithy-http-server/src/routers/mod.rs
Labels: documentation, server, needs-server-review

#1837 Add PluginExt extension trait and FilterByOperationName plugin
  rust-runtime/aws-smithy-http-server/src/operation/mod.rs
  rust-runtime/aws-smithy-http-server/src/plugin.rs
  rust-runtime/aws-smithy-http-server/src/plugin/filter.rs
  rust-runtime/aws-smithy-http-server/src/plugin/identity.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
  rust-runtime/aws-smithy-http-server/src/plugin/stack.rs
Labels: server, needs-server-review

#1843 Fix broken module path in instrumentation documentation
  design/src/server/instrumentation.md
  design/src/server/pokemon_service.md
Labels: documentation, server, needs-server-review

#1858 Make protocol ZSTs match shape ID names
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  design/src/rfcs/rfc0020_service_builder.md
  design/src/server/anatomy.md
  rust-runtime/aws-smithy-http-server-python/src/error.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/handler.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/layer.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json_10/mod.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json_10/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json_11/mod.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json_11/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/mod.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/mod.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/router.rs
  rust-runtime/aws-smithy-http-server/src/routing/mod.rs
  rust-runtime/aws-smithy-http-server/src/runtime_error.rs
Labels: server, needs-server-review

#1844 Add middleware documentation
  design/src/server/anatomy.md
  design/src/server/middleware.md
  design/src/server/overview.md
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/plugin.rs
Labels: documentation, server, needs-server-review

#1840 Add boxed method to service builder
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
Labels: server, needs-server-review

#1900 fix: compiler warning in docs index generator
  buildSrc/src/main/kotlin/aws/sdk/DocsLandingPage.kt
  buildSrc/src/main/kotlin/aws/sdk/VersionsManifest.kt
Labels: low-priority

#1899 Add JSON serialization input/output extension points
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/JsonSerializerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerAwsJson.kt
Labels: server

#1907 Fix cargo audit issue on chrono
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/Cargo.toml
  rust-runtime/aws-smithy-types-convert/Cargo.toml
Labels: needs-server-review
