Repository smithy-lang/smithy-rs, pull requests merged in 2022-11, with the labels that each got.

#1930 Add FromParts documentation
  design/src/server/from-parts.md
  design/src/server/overview.md
  rust-runtime/aws-smithy-http-server/src/extension.rs
Labels: documentation, server

#1871 Python: map Python middlewares to Tower layers
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerModuleGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerOperationHandlerGenerator.kt
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/examples/Makefile
  rust-runtime/aws-smithy-http-server-python/examples/libpokemon_service_server_sdk.pyi
  rust-runtime/aws-smithy-http-server-python/examples/mypy.ini
  rust-runtime/aws-smithy-http-server-python/examples/pokemon_service.py
  rust-runtime/aws-smithy-http-server-python/src/error.rs
  rust-runtime/aws-smithy-http-server-python/src/lib.rs
  rust-runtime/aws-smithy-http-server-python/src/logging.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/error.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/handler.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/header_map.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/layer.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/mod.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/pytests/harness.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/pytests/layer.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/pytests/request.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/pytests/response.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/request.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/response.rs
  rust-runtime/aws-smithy-http-server-python/src/server.rs
  rust-runtime/aws-smithy-http-server-python/src/socket.rs
  rust-runtime/aws-smithy-http-server-python/src/util.rs
  rust-runtime/aws-smithy-http-server-python/src/util/collection.rs
  rust-runtime/aws-smithy-http-server-python/src/util/error.rs
Labels: python-server

#1972 Smithy 1.26.2 upgrade / ensure that even empty lists are serialized
  CHANGELOG.next.toml
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  gradle.properties
  rust-runtime/aws-smithy-query/src/lib.rs
Labels: needs-server-review

#1949 Use `escape` on the body in `@httpRequestTest` protocol test generation
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: server

#1991 Fix simple.smithy
  codegen-core/common-test-models/simple.smithy
Labels: needs-sdk-review

#1993 formatting: run code cleanup on entire project
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsReadmeDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SdkSettings.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/glacier/AccountIdAutofill.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/SymbolVisitor.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/HttpBoundProtocolPayloadGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerModuleGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/traits/ShapeReachableFromOperationInputTagTrait.kt
Labels: needs-sdk-review, needs-server-review

#2003 Improve `Plugin` toolkit
  rust-runtime/aws-smithy-http-server/src/plugin/closure.rs
  rust-runtime/aws-smithy-http-server/src/plugin/layer.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
Labels: server, needs-server-review

#2010 Re-export service from root of the generated crate
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
Labels: server, needs-server-review

#1973 Always write required query param keys, even if value is unset or empty
  CHANGELOG.next.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/s3/S3Decorator.kt
  aws/sdk/integration-tests/s3/tests/presigning.rs
  aws/sdk/integration-tests/s3/tests/required-query-params.rs
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/http/RequestBindingGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/TestHelpers.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/http/RequestBindingGeneratorTest.kt
Labels: needs-sdk-review

#2001 Detect if the `uniqueItems` trait is used
  codegen-core/common-test-models/constraints.smithy
  codegen-core/common-test-models/misc.smithy
  codegen-server-test/build.gradle.kts
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraintsAreNotUsedTest.kt
Labels: server

#2008 Collect extractors into `request` module
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service-connect-info.rs
  rust-runtime/aws-smithy-http-server/src/extension.rs
  rust-runtime/aws-smithy-http-server/src/lib.rs
  rust-runtime/aws-smithy-http-server/src/request/connect_info.rs
  rust-runtime/aws-smithy-http-server/src/request/extension.rs
  rust-runtime/aws-smithy-http-server/src/request/mod.rs
  rust-runtime/aws-smithy-http-server/src/routing/mod.rs
Labels: server, needs-server-review

#2019 Improve code generated documentation
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/DocHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationShapeGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
Labels: documentation, server, needs-server-review

#2020 Improve service documentation
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
  rust-runtime/aws-smithy-http-server/src/request/mod.rs
  rust-runtime/aws-smithy-http-server/src/routing/route.rs
Labels: documentation, server, needs-server-review

#2016 Fix Canary
  tools/ci-cdk/README.md
  tools/ci-cdk/canary-runner/src/build_bundle.rs
  tools/ci-cdk/canary-runner/src/run.rs
Labels: needs-sdk-review

#2034 Implement @range on short
  CHANGELOG.next.toml
  codegen-core/common-test-models/constraints.smithy
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ConstrainedShapeSymbolProvider.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ConstraintViolationSymbolProvider.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/Constraints.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/BeforeSerializingMemberJsonCustomization.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedIntegerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/http/ServerResponseBindingGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/traits/ShapeReachableFromOperationInputTagTrait.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/transformers/ShapesReachableFromOperationInputTagger.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ConstrainedShapeSymbolProviderTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraintsAreNotUsedTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedIntegerGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedNumberGeneratorTest.kt
Labels: server

#2039 Restore `into_make_service_with_connect_info` module
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
  rust-runtime/aws-smithy-http-server/src/request/connect_info.rs
  rust-runtime/aws-smithy-http-server/src/routing/into_make_service_with_connect_info.rs
  rust-runtime/aws-smithy-http-server/src/routing/mod.rs
Labels: server, needs-server-review

#1942 RFC: RequestId for services
  design/src/SUMMARY.md
  design/src/rfcs/overview.md
  design/src/rfcs/rfc0022_error_context_and_compatibility.md
  design/src/rfcs/rfc0024_request_id.md
Labels: rfc

#2038 Add lambda extractors
  rust-runtime/aws-smithy-http-server/src/request/lambda.rs
  rust-runtime/aws-smithy-http-server/src/request/mod.rs
Labels: server, needs-server-review

#2041 Improve extractor errors
  rust-runtime/aws-smithy-http-server/src/request/connect_info.rs
  rust-runtime/aws-smithy-http-server/src/request/extension.rs
  rust-runtime/aws-smithy-http-server/src/request/lambda.rs
  rust-runtime/aws-smithy-http-server/src/request/mod.rs
Labels: server, needs-server-review
