Repository smithy-lang/smithy-rs, pull requests merged in 2022-02, with the labels that each got.

#1057 Fix `RestJsonQueryStringEscaping` server protocol test
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: server

#1141 Fix server protocol response body assertion
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: server

#1023 Server streaming body
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/rejection.rs
  rust-runtime/aws-smithy-http/src/byte_stream.rs
Labels: server

#1140 Add support for `httpPrefixHeaders` in server requests
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/http/ServerRequestBindingGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/http/HttpBindingGenerator.kt
Labels: server

#1148 [Server] Respect @required trait in model generation
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/RustCodegenServerPlugin.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/RustCodegenPlugin.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/SymbolMetadataProvider.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/SymbolVisitor.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/Instantiator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/StructureGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/ErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/JsonParserGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/JsonSerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/testutil/TestHelpers.kt
Labels: server

#1166 Fix payload deserialization where we need to return an Optional type when the member is non-streaming
  codegen-server-test/model/simple.smithy
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/http/HttpBindingGenerator.kt
Labels: bug

#1158 Add support for `httpPayload` in server responses
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsPresigningDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/http/HttpBindingGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/protocol/MakeOperationGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/protocol/ProtocolGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/HttpBoundProtocolGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/HttpBoundProtocolPayloadGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/JsonSerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/StructuredDataSerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/XmlBindingTraitSerializerGenerator.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/protocol/ProtocolTestGeneratorTest.kt
  rust-runtime/aws-smithy-http-server/src/body.rs
  rust-runtime/aws-smithy-http-server/src/lib.rs
  rust-runtime/inlineable/src/server_operation_handler_trait.rs
Labels: server

#1186 Server allow `unused_variables` in `serverSerializeResponse` and `serverParseRequest`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
Labels: server

#1174 Add `ServerCombinedErrorGeneratorTest.kt`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/testutil/ServerTestHelpers.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/ServerCombinedErrorGeneratorTest.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/CodegenTarget.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/StructureGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/ErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/testutil/TestHelpers.kt
Labels: server

#1175 Add converters into server error enums
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerCombinedErrorGenerator.kt
Labels: server

#1203 Enclose some types in backticks in `aws-smithy-json` docs
  rust-runtime/aws-smithy-json/src/deserialize.rs
  rust-runtime/aws-smithy-json/src/deserialize/token.rs
Labels: server

#1206 Fix two restJson1 error response server protocol tests
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: server

#1177 Consider `NaN` to be equal to itself in server protocol tests
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: server

#1213 Generate `httpMalformedRequestTests`
  codegen-server-test/build.gradle.kts
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
Labels: server

#1207 Bugfix: render server HTTP response code bindings again
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
Labels: server

#1222 Add initial implementation of a Server example
  codegen-server-test/build.gradle.kts
  codegen-server-test/model/pokemon.smithy
  codegen-test/build.gradle.kts
  codegen-test/model/pokemon.smithy
  rust-runtime/aws-smithy-http-server/examples/.gitignore
  rust-runtime/aws-smithy-http-server/examples/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/Makefile
  rust-runtime/aws-smithy-http-server/examples/README.md
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/src/lib.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/src/main.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/tests/helpers.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/tests/simple_integration_test.rs
Labels: enhancement, server

#1227 [Draft] Github action for server integration tests
  .github/workflows/server-benchmark.yml
Labels: enhancement, server

#1205 Remove some client protocol tests from the server protocol test denylist
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: server
