Repository smithy-lang/smithy-rs, pull requests merged in 2022-03, with the labels that each got.

#1224 [Server] AdditionalErrorsDecorator - refactored from FallibleOperationsDecorator
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/AdditionalErrorsDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/FallibleOperationsDecorator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/AdditionalErrorsDecoratorTest.kt
Labels: enhancement, server

#1196 Remove printouts of generated sources from `ServerCombinedErrorGeneratorTest.kt`
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerCombinedErrorGeneratorTest.kt
Labels: server

#1208 Return empty HTTP response body when restJson1 operation has no output shape
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/AwsJson.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/HttpBoundProtocolPayloadGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/AwsQuerySerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/Ec2QuerySerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/JsonSerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/QuerySerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/StructuredDataSerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/XmlBindingTraitSerializerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/traits/SyntheticOutputTrait.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/transformers/OperationNormalizer.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/AwsQuerySerializerGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/Ec2QuerySerializerGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/JsonSerializerGeneratorTest.kt
Labels: server

#1230 Continuing the work on server benchmarks.
  .github/workflows/server-benchmark.yml
  CODEOWNERS
  codegen-server-test/model/pokemon.smithy
  rust-runtime/aws-smithy-http-server/examples/BENCHMARKS.md
  rust-runtime/aws-smithy-http-server/examples/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/Makefile
  rust-runtime/aws-smithy-http-server/examples/README.md
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/src/lib.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/src/main.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/tests/benchmark.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/tests/simple_integration_test.rs
Labels: enhancement, server

#1244 Use `apt-get update` before installing packages in server CI
  .github/workflows/server-benchmark.yml
Labels: bug, server

#1233 Revamp error system
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRuntimeType.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/extension.rs
  rust-runtime/aws-smithy-http-server/src/lib.rs
  rust-runtime/aws-smithy-http-server/src/macros.rs
  rust-runtime/aws-smithy-http-server/src/protocols.rs
  rust-runtime/aws-smithy-http-server/src/rejection.rs
  rust-runtime/aws-smithy-http-server/src/runtime_error.rs
Labels: server

#1247 Try to play a little with benchmark params to increase reliability by reducing contention
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/tests/benchmark.rs
Labels: enhancement, server

#1253 Make server operation input and output wrappers `pub(crate)`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
Labels: server

#1266 Fix bug where where format argument is not a literal string
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/JsonParserGenerator.kt
Labels: bug

#1269 Bugfix: prevent errors like "move occurs because `input.element` has type `Blob`, which does not implement the `Copy` trait"
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/JsonSerializerGenerator.kt
Labels: bug

#1248 Move `SmithyHttpServer` to `ServerCargoDependency.kt`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCargoDependency.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRuntimeType.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpProtocolGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/rustlang/CargoDependency.kt
Labels: server
