Repository smithy-lang/smithy-rs, pull requests merged in 2022-09, with the labels that each got.

#1704 Add RFC 20 to the RFCs
  design/src/SUMMARY.md
  design/src/rfcs/overview.md
  design/src/rfcs/rfc0020_service_builder.md
Labels: needs-sdk-review

#1710 Remove the need for operation type aliasing in codegen
  CHANGELOG.next.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsFluentClientDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/rustlang/RustTypes.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/rustlang/RustWriter.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/rustlang/Writable.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/RuntimeTypes.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/PaginatorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/client/FluentClientGenerics.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/protocol/ProtocolGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/rustlang/RustTypesTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/rustlang/WritableTest.kt
Labels: needs-sdk-review

#1719 Escape routing regex in path segment literals
  rust-runtime/aws-smithy-http-server/src/routing/request_spec.rs
Labels: server, needs-server-review

#1716 Add a join method for `Iterable<Writable>`, `Sequence<Writable>`, and `Array<Writable>`
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/rustlang/Writable.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/rustlang/WritableTest.kt
Labels: ergonomics

#1708 Test `httpRequestTests` against actual Services
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/rustlang/RustTypes.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/Instantiator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/InstantiatorTest.kt
  codegen-core/common-test-models/naming-obstacle-course-ops.smithy
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: needs-sdk-review

#1693 Add new service builder codegen
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/rustlang/Writable.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/AwsJson.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/RestJson.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/RestXml.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRuntimeType.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerAwsJson.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  design/src/rfcs/rfc0020_service_builder.md
  rust-runtime/aws-smithy-http-server/src/operation/mod.rs
  rust-runtime/aws-smithy-http-server/src/operation/upgrade.rs
  rust-runtime/aws-smithy-http-server/src/request.rs
  rust-runtime/aws-smithy-http-server/src/response.rs
  rust-runtime/aws-smithy-http-server/src/routing/mod.rs
  rust-runtime/aws-smithy-http-server/src/routing/route.rs
  rust-runtime/aws-smithy-http-server/src/routing/routers/mod.rs
  rust-runtime/aws-smithy-http-server/src/runtime_error.rs
Labels: server, needs-server-review

#1731 Move server specific methods from Protocol to ServerProtocol
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/AwsJson.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/AwsQuery.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/Ec2Query.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/Protocol.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/RestJson.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/RestXml.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerAwsJson.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerRestJsonFactory.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerRestXmlFactory.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGeneratorTest.kt
Labels: server

#1734 [Python] Allow to run pure Python request middlewares inside a Tower service
  CHANGELOG.next.toml
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerModuleGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerOperationHandlerGenerator.kt
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/examples/pokemon_service.py
  rust-runtime/aws-smithy-http-server-python/src/error.rs
  rust-runtime/aws-smithy-http-server-python/src/lib.rs
  rust-runtime/aws-smithy-http-server-python/src/logging.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/handler.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/layer.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/mod.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/request.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/response.rs
  rust-runtime/aws-smithy-http-server-python/src/server.rs
  rust-runtime/aws-smithy-http-server-python/src/types.rs
Labels: enhancement, server, python-server

#1763 Cleanup pokemon.smithy
  codegen-client-test/build.gradle.kts
  codegen-core/common-test-models/pokemon-common.smithy
  codegen-core/common-test-models/pokemon.smithy
  codegen-server-test/build.gradle.kts
  codegen-server-test/python/build.gradle.kts
  codegen-server-test/python/model/pokemon-common.smithy
  codegen-server-test/python/model/pokemon.smithy
  rust-runtime/aws-smithy-http-server-python/examples/pokemon-service-test/tests/simple_integration_test.rs
  rust-runtime/aws-smithy-http-server-python/examples/pokemon_service.py
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service-tls.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/lambda.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/lib.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/main.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/simple_integration_test.rs
Labels: small, needs-sdk-review, needs-server-review

#1755 Updates and fixes to HttpSensitivityGenerator
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerHttpSensitivityGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerHttpSensitivityGeneratorTest.kt
  rust-runtime/aws-smithy-http-server/src/logging/mod.rs
  rust-runtime/aws-smithy-http-server/src/logging/sensitivity/request.rs
  rust-runtime/aws-smithy-http-server/src/logging/sensitivity/response.rs
  rust-runtime/aws-smithy-http-server/src/logging/sensitivity/uri/greedy_label.rs
  rust-runtime/aws-smithy-http-server/src/logging/sensitivity/uri/label.rs
  rust-runtime/aws-smithy-http-server/src/logging/sensitivity/uri/mod.rs
  rust-runtime/aws-smithy-http-server/src/logging/service.rs
Labels: server, needs-server-review

#1738 Vend tracing instrumentation as a Plugin
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationGenerator.kt
  rust-runtime/aws-smithy-http-server/src/logging/layer.rs
  rust-runtime/aws-smithy-http-server/src/logging/mod.rs
  rust-runtime/aws-smithy-http-server/src/logging/plugin.rs
  rust-runtime/aws-smithy-http-server/src/logging/sensitivity/mod.rs
Labels: server

#1772 Add Instrumentation documentation
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerHttpSensitivityGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerHttpSensitivityGeneratorTest.kt
  design/src/docs/instrumentation.md
  design/src/rfcs/rfc0018_logging_sensitive.md
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service-tls.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/lambda.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/lib.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/main.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/layer.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/mod.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/plugin.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/headers.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/mod.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/request.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/response.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/sensitive.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/uri/label.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/uri/mod.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/uri/query.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/service.rs
  rust-runtime/aws-smithy-http-server/src/lib.rs
Labels: documentation, server, needs-sdk-review, needs-server-review

#1787 Fix a few rendering issues in the design docs
  design/src/smithy/aggregate_shapes.md
  design/src/smithy/recursive_shapes.md
  design/src/transport/operation.md
Labels: documentation
