Repository smithy-lang/smithy-rs, pull requests merged in 2022-08, with the labels that each got.

#1605 Make `Content-Type` check in `ServerHttpBoundProtocolGenerator` protocol-agnostic
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCargoDependency.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/protocols.rs
  rust-runtime/aws-smithy-http-server/src/rejection.rs
Labels: server, needs-server-review

#1609 Allow to build and test on MacOX M1/x86 chips
  rust-runtime/aws-smithy-http-server-python/examples/.cargo/config.toml
  rust-runtime/aws-smithy-http-server-python/examples/Makefile
  rust-runtime/aws-smithy-http-server-python/examples/README.md
  rust-runtime/aws-smithy-http-server-python/src/server.rs
Labels: bug, server

#1608 Health check in Pokemon service
  codegen-server-test/model/pokemon.smithy
  codegen-server-test/python/model/pokemon.smithy
  rust-runtime/aws-smithy-http-server-python/examples/pokemon-service-test/tests/simple_integration_test.rs
  rust-runtime/aws-smithy-http-server-python/examples/pokemon_service.py
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/lib.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/main.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/simple_integration_test.rs
Labels: needs-server-review

#1333 Make server pass naming obstacle course protocol tests
  codegen-server-test/build.gradle.kts
  codegen-server-test/model/naming-obstacle-course-ops.smithy
  codegen-server-test/model/naming-obstacle-course-structs.smithy
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-test/model/naming-obstacle-course-ops.smithy
Labels: server

#1485 Bubble up unknown enum variant error when parsing XML in the server
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerEnumGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/RuntimeTypes.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/JsonParserGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/XmlBindingTraitParserGenerator.kt
Labels: server

#1646 Allow * in ACCEPT header
  CHANGELOG.next.toml
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server/src/protocols.rs
Labels: server

#1551 feat: support for server `lambda_http::Request`
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/Makefile
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/lambda.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/fixtures/example-apigw-request.json
  rust-runtime/aws-smithy-http-server/src/rejection.rs
  rust-runtime/aws-smithy-http-server/src/routing/lambda_handler.rs
  rust-runtime/aws-smithy-http-server/src/routing/mod.rs
Labels: server

#1633 Fix bug in coroutine scheduling. Add ByteStream implementation and simplify Python symbol visitor.
  codegen-server-test/python/model/pokemon.smithy
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonCodegenServerPlugin.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCargoDependency.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerRuntimeType.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerSymbolProvider.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerModuleGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerOperationHandlerGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerStructureGenerator.kt
  codegen-server/python/src/test/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerSymbolProviderTest.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/SymbolVisitor.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/TypeConversionGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/http/HttpBindingGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/HttpBoundProtocolPayloadGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/JsonParserGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/JsonSerializerGenerator.kt
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/examples/pokemon_service.py
  rust-runtime/aws-smithy-http-server-python/src/lib.rs
  rust-runtime/aws-smithy-http-server-python/src/server.rs
  rust-runtime/aws-smithy-http-server-python/src/state.rs
  rust-runtime/aws-smithy-http-server-python/src/types.rs
  tools/Dockerfile
Labels: bug, enhancement, server, needs-server-review

#1524 Make `ServerProtocolLoader` delegate to `ProtocolLoader`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerProtocolLoader.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/Protocol.kt
Labels: server

#1620 RFC: Service Builder Improvements
  design/src/rfcs/rfc0020_service_builder.md
Labels: needs-server-review
