Repository smithy-lang/smithy-rs, pull requests merged in 2022-05, with the labels that each got.

#1371 Add Pokemon service cmdline arguments using clap.
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/src/main.rs
Labels: enhancement, server

#1399 Implement Python runtime crate and shared socket
  CODEOWNERS
  rust-runtime/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/LICENSE
  rust-runtime/aws-smithy-http-server-python/README.md
  rust-runtime/aws-smithy-http-server-python/src/lib.rs
  rust-runtime/aws-smithy-http-server-python/src/logging.rs
  rust-runtime/aws-smithy-http-server-python/src/socket.rs
  rust-runtime/aws-smithy-http-server/Cargo.toml
  tools/Dockerfile
  tools/sdk-lints/src/lint_cargo_toml.rs
Labels: enhancement, server

#1398 Unknown enum variants removed from server
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/RustCodegenServerPlugin.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerCombinedErrorGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerEnumGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerEnumGeneratorTest.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/RuntimeTypes.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/SymbolVisitor.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/EnumGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/Instantiator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/CombinedErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/ErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/TopLevelErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/http/HttpBindingGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/protocol/ProtocolTestGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/JsonParserGenerator.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/generators/EnumGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/InstantiatorTest.kt
  rust-runtime/aws-smithy-http-server/src/rejection.rs
Labels: server

#1410 Allow @required with @httpPrefixHeaders
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/http/HttpBindingGenerator.kt
Labels: bug, server
