Repository smithy-lang/smithy-rs, pull requests merged in 2022-07, with the labels that each got.

#1525 Make `ServerOperationRegistryGenerator` protocol-agnostic
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonCodegenServerPlugin.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/RustCodegenServerPlugin.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerAwsJson.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerRestJsonFactory.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGeneratorTest.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/customize/RustCodegenDecorator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/http/RestRequestSpecGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/AwsJson.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/AwsQuery.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/Ec2Query.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/Protocol.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/RestJson.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/RestXml.kt
Labels: server

#1479 Support server event streams
  CHANGELOG.next.toml
  aws/rust-runtime/aws-sig-auth/src/event_stream.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsPresigningDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4SigningDecorator.kt
  aws/sdk/integration-tests/transcribestreaming/tests/error.json
  aws/sdk/integration-tests/transcribestreaming/tests/success.json
  aws/sdk/integration-tests/transcribestreaming/tests/test.rs
  codegen-server-test/model/pokemon.smithy
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonCodegenServerPlugin.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerCombinedErrorGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/RustCodegenServerPlugin.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/AdditionalErrorsDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerCombinedErrorGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/EventStreamTestTools.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/parse/EventStreamUnmarshallerGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/serialize/EventStreamMarshallerGeneratorTest.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/EventStreamSymbolProvider.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/RustCodegenPlugin.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/customize/NoOpEventStreamSigningDecorator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/PaginatorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/ServiceGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/client/FluentClientDecorator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/config/EventStreamSigningConfig.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/CombinedErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/ServerCombinedErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/TopLevelErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/protocol/ProtocolTestGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/HttpBoundProtocolGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/HttpBoundProtocolPayloadGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/RestJson.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/RestXml.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/EventStreamUnmarshallerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/EventStreamErrorMarshallerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/serialize/EventStreamMarshallerGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/transformers/EventStreamNormalizer.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/transformers/RemoveEventStreamOperations.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/util/Smithy.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/customizations/HttpVersionListGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/EventStreamSymbolProviderTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/CombinedErrorGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/protocol/ProtocolTestGeneratorTest.kt
  design/src/rfcs/overview.md
  design/src/rfcs/rfc0019_event_streams_errors.md
  design/src/smithy/event_streams.md
  rust-runtime/aws-smithy-eventstream/src/frame.rs
  rust-runtime/aws-smithy-http-server-python/examples/pokemon_service_test/tests/simple_integration_test.rs
  rust-runtime/aws-smithy-http-server/examples/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/src/lib.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/src/main.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon_service/tests/simple_integration_test.rs
  rust-runtime/aws-smithy-http/src/event_stream.rs
  rust-runtime/aws-smithy-http/src/event_stream/receiver.rs
  rust-runtime/aws-smithy-http/src/event_stream/sender.rs
Labels: needs-sdk-review

#1520 Codegenerate Python application example and add explicit cast during JSON deserialization
  CHANGELOG.next.toml
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/JsonParserGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/protocols/parse/TypeConversionGenerator.kt
Labels: enhancement, server

#1581 Fix `codegen-server` and `codegen-server:python` projects when crate name contains hyphens
  codegen-server-test/build.gradle.kts
  codegen-server-test/python/build.gradle.kts
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/customizations/PythonServerCodegenDecorator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerModuleGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGeneratorTest.kt
  codegen-test/build.gradle.kts
  rust-runtime/aws-smithy-http-server-python/examples/.gitignore
  rust-runtime/aws-smithy-http-server-python/examples/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/examples/Makefile
  rust-runtime/aws-smithy-http-server-python/examples/README.md
  rust-runtime/aws-smithy-http-server-python/examples/pokemon-service-test/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/examples/pokemon-service-test/tests/helpers.rs
  rust-runtime/aws-smithy-http-server-python/examples/pokemon-service-test/tests/simple_integration_test.rs
  rust-runtime/aws-smithy-http-server-python/examples/pokemon_service.py
  rust-runtime/aws-smithy-http-server/examples/.gitignore
  rust-runtime/aws-smithy-http-server/examples/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/Makefile
  rust-runtime/aws-smithy-http-server/examples/README.md
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/lib.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/main.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/benchmark.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/helpers.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/simple_integration_test.rs
Labels: needs-sdk-review

#1570 Basic support of @deprecated trait in Smithy model
  CHANGELOG.next.toml
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerCombinedErrorGeneratorTest.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/rustlang/RustTypes.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/rustlang/RustWriter.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/customizations/AllowLintsGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/BuilderGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/EnumGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/StructureGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/UnionGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/client/FluentClientCore.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/client/FluentClientDecorator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/CombinedErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/ServerCombinedErrorGenerator.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/TopLevelErrorGenerator.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/generators/EnumGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/generators/StructureGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/generators/UnionGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/BuilderGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/CombinedErrorGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/codegen/smithy/generators/error/TopLevelErrorGeneratorTest.kt
  codegen/src/test/kotlin/software/amazon/smithy/rust/lang/RustWriterTest.kt
Labels: enhancement

#1602 Set minimum `hyper` version to `0.14.12`
  aws/rust-runtime/aws-config/Cargo.toml
  aws/sdk/integration-tests/s3/Cargo.toml
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCargoDependency.kt
  codegen/src/main/kotlin/software/amazon/smithy/rust/codegen/rustlang/CargoDependency.kt
  rust-runtime/aws-smithy-client/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/Cargo.toml
  rust-runtime/aws-smithy-http/Cargo.toml
  tools/changelogger/Cargo.lock
  tools/crate-hasher/Cargo.lock
  tools/echo-server/Cargo.lock
  tools/echo-server/Cargo.toml
  tools/publisher/Cargo.lock
  tools/sdk-lints/Cargo.lock
  tools/sdk-sync/Cargo.lock
  tools/sdk-versioner/Cargo.lock
Labels: needs-sdk-review
