Repository smithy-lang/smithy-rs, pull requests merged in 2023-08, with the labels that each got.

#2531 Check `Content-Type` header in all server protocols
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/rejection.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/runtime_error.rs
Labels: server

#2886 TLS tests in CI
  .github/workflows/ci-tls.yml
  ci.mk
  tools/ci-resources/tls-stub/Cargo.toml
  tools/ci-resources/tls-stub/README.md
  tools/ci-resources/tls-stub/src/main.rs
  tools/ci-scripts/configure-tls/configure-badssl
  tools/ci-scripts/configure-tls/configure-badtls
  tools/ci-scripts/configure-tls/configure-trytls
  tools/ci-scripts/configure-tls/update-certs
Labels: needs-sdk-review, needs-client-review

#2923 Fix doc comment on `from_conf`
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
Labels: needs-sdk-review

#2911 Rename `signing_service` to `signing_name`
  CHANGELOG.next.toml
  aws/rust-runtime/aws-endpoint/src/lib.rs
  aws/rust-runtime/aws-inlineable/tests/middleware_e2e_test.rs
  aws/rust-runtime/aws-runtime/src/auth/sigv4.rs
  aws/rust-runtime/aws-sig-auth/src/event_stream.rs
  aws/rust-runtime/aws-sig-auth/src/lib.rs
  aws/rust-runtime/aws-sig-auth/src/middleware.rs
  aws/rust-runtime/aws-sig-auth/src/signer.rs
  aws/rust-runtime/aws-sigv4/src/event_stream.rs
  aws/rust-runtime/aws-sigv4/src/http_request/canonical_request.rs
  aws/rust-runtime/aws-sigv4/src/http_request/mod.rs
  aws/rust-runtime/aws-sigv4/src/http_request/sign.rs
  aws/rust-runtime/aws-sigv4/src/lib.rs
  aws/rust-runtime/aws-types/src/lib.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4AuthDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4SigningDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/SigV4SigningDecoratorTest.kt
  aws/sdk/integration-tests/qldbsession/tests/integration.rs
Labels: breaking-change

#2934 Reduce amount of logging from #[instrument]
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
Labels: needs-sdk-review

#2909 Make it possible to nest runtime components
  CHANGELOG.next.toml
  aws/rust-runtime/aws-inlineable/src/presigning_interceptors.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGeneratorTest.kt
  rust-runtime/aws-smithy-runtime-api/Cargo.toml
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime/src/client/auth/no_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/inlineable/src/client_http_checksum_required.rs
  rust-runtime/inlineable/src/client_idempotency_token.rs
Labels: breaking-change

#2935 Fix `SDK::Endpoint` built-in
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/EndpointBuiltInsDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/EndpointBuiltInsDecoratorTest.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/TestUtil.kt
Labels: needs-sdk-review

#2931 Fix re-export of `SdkError`
  .github/workflows/ci-pr.yml
  .github/workflows/update-sdk-next.yml
  CHANGELOG.next.toml
  aws/sdk/build.gradle.kts
  buildSrc/src/main/kotlin/aws/sdk/ServiceLoader.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/customizations/SmithyTypesPubUseExtra.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/customizations/SmithyTypesPubUseExtraTest.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/ServerRequiredCustomizations.kt
  tools/ci-build/Dockerfile
  tools/ci-scripts/check-aws-sdk-examples
Labels: breaking-change

#2940 Don't run message length validation on `SDK_CHANGELOG.next.json`
  tools/ci-build/changelogger/src/render.rs
  tools/ci-build/sdk-lints/src/changelog.rs
  tools/ci-build/smithy-rs-tool-common/src/changelog.rs
Labels: needs-sdk-review

#2949 update Smithy version to 1.37
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointTestGenerator.kt
  gradle.properties
Labels: blocked

#2959 Cherry-picks updating MSRV to 1.70.0 from main to smithy-rs-release-0.56.x
  .github/workflows/ci.yml
  .github/workflows/claim-crate-names.yml
  .github/workflows/github-pages.yml
  .github/workflows/pull-request-bot.yml
  .github/workflows/release.yml
  .github/workflows/update-sdk-next.yml
  CHANGELOG.next.toml
  aws/sdk/integration-tests/lambda/tests/request_id.rs
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/Rust.kt
  gradle.properties
  rust-runtime/aws-smithy-client/src/test_connection.rs
  rust-runtime/aws-smithy-http/src/connection.rs
  rust-runtime/aws-smithy-types-convert/Cargo.toml
  rust-runtime/aws-smithy-types-convert/src/date_time.rs
  rust-toolchain.toml
  tools/ci-build/Dockerfile
Labels: needs-sdk-review

#2951 Make `CustomizableOperation` `Send` and `Sync`
  CHANGELOG.next.toml
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGeneratorTest.kt
Labels: needs-sdk-review

#2967 Merge 'smithy-rs-release-0.56.x' into `main`
  CHANGELOG.next.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RegionDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/RegionDecoratorTest.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGeneratorTest.kt
Labels: needs-sdk-review
