Repository smithy-lang/smithy-rs, pull requests merged in 2023-10, with the labels that each got.

#3014 Remove ProviderConfig as the configuration source for AssumeRoleProvider
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/sts/assume_role.rs
  aws/rust-runtime/aws-types/src/sdk_config.rs
  rust-runtime/aws-smithy-async/src/time.rs
Labels: breaking-change

#3021 Ensure identity resolver exists when a credentials provider is given only at operation level
  CHANGELOG.next.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialCaches.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4SigningDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/CredentialCacheConfigTest.kt
Labels: needs-sdk-review, needs-backport

#3007 fix use_fips in provider config
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/default_provider/credentials.rs
  aws/rust-runtime/aws-config/src/environment/credentials.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/profile/credentials.rs
  aws/rust-runtime/aws-config/src/profile/credentials/exec.rs
  aws/rust-runtime/aws-config/src/provider_config.rs
  aws/rust-runtime/aws-config/src/sso.rs
  aws/rust-runtime/aws-config/src/sts.rs
  aws/rust-runtime/aws-config/src/sts/assume_role.rs
  aws/rust-runtime/aws-config/src/test_case.rs
  aws/rust-runtime/aws-config/src/web_identity_token.rs
  aws/rust-runtime/aws-config/test-data/default-provider-chain/e2e_fips_and_dual_stack_sso/env.json
  aws/rust-runtime/aws-config/test-data/default-provider-chain/e2e_fips_and_dual_stack_sso/fs/home/.aws/config
  aws/rust-runtime/aws-config/test-data/default-provider-chain/e2e_fips_and_dual_stack_sso/fs/home/.aws/sso/cache/dace00cba5f8355ec9d274ceb2bcebdfbeed0e12.json
  aws/rust-runtime/aws-config/test-data/default-provider-chain/e2e_fips_and_dual_stack_sso/http-traffic.json
  aws/rust-runtime/aws-config/test-data/default-provider-chain/e2e_fips_and_dual_stack_sso/test-case.json
  aws/rust-runtime/aws-config/test-data/profile-provider/e2e_fips_and_dual_stack_sts/env.json
  aws/rust-runtime/aws-config/test-data/profile-provider/e2e_fips_and_dual_stack_sts/fs/home/.aws/config
  aws/rust-runtime/aws-config/test-data/profile-provider/e2e_fips_and_dual_stack_sts/fs/home/.aws/credentials
  aws/rust-runtime/aws-config/test-data/profile-provider/e2e_fips_and_dual_stack_sts/http-traffic.json
  aws/rust-runtime/aws-config/test-data/profile-provider/e2e_fips_and_dual_stack_sts/test-case.json
Labels: breaking-change, pending-release

#3025 Make versions comparison more flexible in the fix-manifest subcommand of publisher
  tools/ci-build/publisher/src/subcommand/fix_manifests.rs
Labels: needs-sdk-review

#3029 Port connection poisoning tests to orchestrator and fix issues discovered
  aws/rust-runtime/aws-config/src/http_credential_provider.rs
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors/context/wrappers.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/connection_poisoning.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
  rust-runtime/aws-smithy-runtime/tests/reconnect_on_transient_error.rs
Labels: needs-sdk-review

#3039 Make `customize()` sync and infallible
  CHANGELOG.next.toml
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/CredentialCacheConfigTest.kt
  aws/sdk/integration-tests/kms/tests/integration.rs
  aws/sdk/integration-tests/qldbsession/tests/integration.rs
  aws/sdk/integration-tests/s3/tests/checksums.rs
  aws/sdk/integration-tests/s3/tests/config-override.rs
  aws/sdk/integration-tests/s3/tests/customizable-operation.rs
  aws/sdk/integration-tests/s3/tests/endpoints.rs
  aws/sdk/integration-tests/s3/tests/ignore-invalid-xml-body-root.rs
  aws/sdk/integration-tests/s3/tests/interceptors.rs
  aws/sdk/integration-tests/s3/tests/naughty-string-metadata.rs
  aws/sdk/integration-tests/s3/tests/no_auth.rs
  aws/sdk/integration-tests/s3/tests/normalize-uri-path.rs
  aws/sdk/integration-tests/s3/tests/query-strings-are-correctly-encoded.rs
  aws/sdk/integration-tests/s3/tests/signing-it.rs
  aws/sdk/integration-tests/s3control/tests/signing-it.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustModule.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/MetadataCustomizationTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGeneratorTest.kt
Labels: breaking-change

#3040 Address some trivial TODO comments
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/EndpointTraitBindingGenerator.kt
Labels: needs-sdk-review

#3037 Update `toSnakeCase` to better handle plurals, version numbers, and other pathological cases
  CHANGELOG.next.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsDocs.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/util/Strings.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/util/StringsTest.kt
  codegen-core/src/test/resources/allNames.txt
  codegen-core/src/test/resources/testOutput.txt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ScopeMacroGenerator.kt
Labels: breaking-change, needs-sdk-review, needs-server-review

#2977 implement user-configurable retry classifiers
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/http_credential_provider.rs
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/test-data/profile-provider/invalid_config/test-case.json
  aws/rust-runtime/aws-config/test-data/profile-provider/retry_on_error/test-case.json
  aws/rust-runtime/aws-runtime/src/retries.rs
  aws/rust-runtime/aws-runtime/src/retries/classifiers.rs
  aws/rust-runtime/aws-sigv4/src/http_request/canonical_request.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/InvocationIdDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RecursionDetectionDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RetryClassifierDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RetryInformationHeaderDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/UserAgentDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/apigateway/ApiGatewayDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/glacier/GlacierDecorator.kt
  aws/sdk/integration-tests/kms/tests/retryable_errors.rs
  aws/sdk/integration-tests/s3/Cargo.toml
  aws/sdk/integration-tests/s3/tests/data/request-information-headers/three-retries_and-then-success.json
  aws/sdk/integration-tests/s3/tests/retry-classifier-customization.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ConnectionPoisoningConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/RetryClassifierConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientRuntimeTypesReExportGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGeneratorTest.kt
  rust-runtime/aws-smithy-runtime-api/src/client/retries.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries/classifiers.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime/src/client/http/connection_poisoning.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
  rust-runtime/aws-smithy-runtime/src/client/retries.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/classifiers.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/fixed_delay.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/standard.rs
  rust-runtime/aws-smithy-runtime/tests/reconnect_on_transient_error.rs
  rust-runtime/aws-smithy-types/src/retry.rs
Labels: breaking-change

#3057 Ignore more tests
  rust-runtime/aws-smithy-client/src/conns.rs
Labels: needs-backport

#3055 New-type all the orchestrator futures
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  aws/rust-runtime/aws-runtime/src/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client.rs
  rust-runtime/aws-smithy-runtime-api/src/client/endpoint.rs
  rust-runtime/aws-smithy-runtime-api/src/client/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/no_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
Labels: breaking-change, needs-sdk-review

#3063 Avoid a real connection in unit test
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/CredentialCacheConfigTest.kt
Labels: needs-backport

#3032 Move `aws_smithy_http::operation::error::BuildError` into `aws-smithy-types`
  CHANGELOG.next.toml
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/EndpointTraitBindingGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/EndpointTraitBindingsTest.kt
  rust-runtime/aws-smithy-http/src/endpoint.rs
  rust-runtime/aws-smithy-http/src/endpoint/error.rs
  rust-runtime/aws-smithy-http/src/operation.rs
  rust-runtime/aws-smithy-types/src/error.rs
  rust-runtime/aws-smithy-types/src/error/operation.rs
Labels: needs-sdk-review

#3061 Add lifetimes to async traits that take args by reference
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/external-types.toml
  aws/rust-runtime/aws-config/src/ecs.rs
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  aws/rust-runtime/aws-inlineable/src/endpoint_discovery.rs
  aws/rust-runtime/aws-runtime/src/identity.rs
  rust-runtime/aws-smithy-async/src/future/mod.rs
  rust-runtime/aws-smithy-runtime-api/src/client.rs
  rust-runtime/aws-smithy-runtime-api/src/client/dns.rs
  rust-runtime/aws-smithy-runtime-api/src/client/endpoint.rs
  rust-runtime/aws-smithy-runtime-api/src/client/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime/src/client/dns.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/wire.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/no_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
Labels: breaking-change, needs-sdk-review

#3065 Rename orchestrator traits to be verbs
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  aws/rust-runtime/aws-inlineable/src/apigateway_interceptors.rs
  aws/rust-runtime/aws-inlineable/src/glacier_interceptors.rs
  aws/rust-runtime/aws-inlineable/src/http_request_checksum.rs
  aws/rust-runtime/aws-inlineable/src/http_response_checksum.rs
  aws/rust-runtime/aws-inlineable/src/presigning_interceptors.rs
  aws/rust-runtime/aws-inlineable/src/route53_resource_id_preprocessor.rs
  aws/rust-runtime/aws-runtime/src/auth/sigv4.rs
  aws/rust-runtime/aws-runtime/src/auth/sigv4a.rs
  aws/rust-runtime/aws-runtime/src/identity.rs
  aws/rust-runtime/aws-runtime/src/invocation_id.rs
  aws/rust-runtime/aws-runtime/src/recursion_detection.rs
  aws/rust-runtime/aws-runtime/src/request_info.rs
  aws/rust-runtime/aws-runtime/src/service_clock_skew.rs
  aws/rust-runtime/aws-runtime/src/user_agent.rs
  aws/sdk/integration-tests/s3/tests/interceptors.rs
  aws/sdk/integration-tests/s3/tests/request_information_headers.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpAuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/InterceptorConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointParamsInterceptorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientRuntimeTypesReExportGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/RequestSerializerGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ResponseDeserializerGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/MetadataCustomizationTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointsDecoratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/EndpointTraitBindingsTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/RuntimeType.kt
  design/src/client/identity_and_auth.md
  rust-runtime/aws-smithy-runtime-api/src/client/auth.rs
  rust-runtime/aws-smithy-runtime-api/src/client/auth/static_resolver.rs
  rust-runtime/aws-smithy-runtime-api/src/client/endpoint.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime-api/src/client/ser_de.rs
  rust-runtime/aws-smithy-runtime/src/client/auth/http.rs
  rust-runtime/aws-smithy-runtime/src/client/auth/no_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/http/connection_poisoning.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/no_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/deserializer.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/serializer.rs
  rust-runtime/inlineable/src/client_http_checksum_required.rs
  rust-runtime/inlineable/src/client_idempotency_token.rs
  rust-runtime/inlineable/src/http_checksum_required.rs
Labels: breaking-change, needs-sdk-review

#3069 Backport 0.56.x to main
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/CredentialCacheConfigTest.kt
Labels: needs-sdk-review

#2917 Implement `SsoTokenProvider`
  .github/workflows/ci-tls.yml
  .github/workflows/pull-request-bot.yml
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/external-types.toml
  aws/rust-runtime/aws-config/src/default_provider/credentials.rs
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/profile/credentials/exec.rs
  aws/rust-runtime/aws-config/src/sso.rs
  aws/rust-runtime/aws-config/src/sso/cache.rs
  aws/rust-runtime/aws-config/src/sso/credentials.rs
  aws/rust-runtime/aws-config/src/sso/token.rs
  aws/rust-runtime/aws-runtime/src/identity.rs
  aws/rust-runtime/aws-types/Cargo.toml
  aws/rust-runtime/aws-types/src/os_shim_internal.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsDocs.kt
  aws/sdk/aws-models/sso-oidc.json
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime/src/client/auth/http.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/no_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
Labels: breaking-change, needs-sdk-review

#3060 Showcase a minimal operation-agnostic server model plugin
  examples/pokemon-service/Cargo.toml
  examples/pokemon-service/src/authz.rs
  examples/pokemon-service/src/main.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
Labels: server, needs-sdk-review

#3026 Move `SdkBody` and `bytestream` into `aws-smithy-types`
  aws/rust-runtime/aws-config/external-types.toml
  aws/rust-runtime/aws-http/external-types.toml
  aws/rust-runtime/aws-sig-auth/external-types.toml
  rust-runtime/aws-smithy-checksums/external-types.toml
  rust-runtime/aws-smithy-http/Cargo.toml
  rust-runtime/aws-smithy-http/external-types.toml
  rust-runtime/aws-smithy-http/src/event_stream/receiver.rs
  rust-runtime/aws-smithy-http/src/futures_stream_adapter.rs
  rust-runtime/aws-smithy-http/src/lib.rs
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/external-types.toml
  rust-runtime/aws-smithy-types/src/body.rs
  rust-runtime/aws-smithy-types/src/byte_stream.rs
  rust-runtime/aws-smithy-types/src/byte_stream/bytestream_util.rs
  rust-runtime/aws-smithy-types/src/byte_stream/error.rs
  rust-runtime/aws-smithy-types/src/lib.rs
Labels: needs-sdk-review

#3072 Move default endpoint resolver into a runtime plugin
  CHANGELOG.next.toml
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/RustClientCodegenPlugin.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/IdempotencyTokenDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/IdempotencyTokenGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointsDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/IdempotencyTokenProviderCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/transformers/OperationNormalizer.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/XmlBindingTraitSerializerGeneratorTest.kt
  rust-runtime/aws-smithy-http/src/endpoint.rs
  rust-runtime/inlineable/src/client_idempotency_token.rs
  rust-runtime/inlineable/src/idempotency_token.rs
Labels: needs-sdk-review

#3062 Implement an identity cache in aws-smithy-runtime
  aws/rust-runtime/aws-config/src/sso/token.rs
  aws/rust-runtime/aws-runtime/src/auth/sigv4a.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client/identity.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/cache.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/cache/lazy.rs
  rust-runtime/aws-smithy-runtime/src/expiring_cache.rs
  rust-runtime/aws-smithy-runtime/src/lib.rs
Labels: needs-sdk-review

#3071 Simplify default config and add default async sleep
  aws/rust-runtime/aws-config/src/imds/client.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomizationTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/SensitiveOutputDecoratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustType.kt
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime/src/client.rs
  rust-runtime/aws-smithy-runtime/src/client/defaults.rs
  rust-runtime/aws-smithy-runtime/src/client/http.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
  rust-runtime/aws-smithy-runtime/src/client/retries.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/client_rate_limiter.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/standard.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/token_bucket.rs
  rust-runtime/aws-smithy-types/src/retry.rs
Labels: breaking-change, needs-sdk-review

#3078 Delete `aws_smithy_http::ResolveEndpoint` and point usages to service-specific trait
  CHANGELOG.next.toml
  aws/rust-runtime/aws-inlineable/src/endpoint_discovery.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/timestream/TimestreamDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustModule.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointTypesGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointsDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/Util.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointResolverGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointTestGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientRuntimeTypesReExportGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpAuthDecoratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/MetadataCustomizationTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/SensitiveOutputDecoratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGeneratorTest.kt
  rust-runtime/aws-smithy-http/src/endpoint.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
Labels: breaking-change, needs-sdk-review

#3070 Re-point those using `BuildError` from smithy-http to smithy-types
  CHANGELOG.next.toml
  aws/rust-runtime/aws-inlineable/Cargo.toml
  aws/rust-runtime/aws-inlineable/src/http_request_checksum.rs
  aws/sdk/integration-tests/s3/tests/required-query-params.rs
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/BuilderGenerator.kt
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json/rejection.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/rejection.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_xml/rejection.rs
  rust-runtime/aws-smithy-http/src/operation.rs
Labels: breaking-change, needs-server-review

#2905 Update valid `Content-Type`s for example Python server
  examples/python/pokemon_service.py
Labels: python-server

#3077 Replace credentials cache with identity cache
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/external-types.toml
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/sso/credentials.rs
  aws/rust-runtime/aws-config/src/sso/token.rs
  aws/rust-runtime/aws-config/src/sts/assume_role.rs
  aws/rust-runtime/aws-config/src/test_case.rs
  aws/rust-runtime/aws-credential-types/Cargo.toml
  aws/rust-runtime/aws-credential-types/external-types.toml
  aws/rust-runtime/aws-credential-types/src/cache.rs
  aws/rust-runtime/aws-credential-types/src/cache/expiring_cache.rs
  aws/rust-runtime/aws-credential-types/src/cache/lazy_caching.rs
  aws/rust-runtime/aws-credential-types/src/cache/no_caching.rs
  aws/rust-runtime/aws-credential-types/src/lib.rs
  aws/rust-runtime/aws-credential-types/src/provider.rs
  aws/rust-runtime/aws-inlineable/src/lib.rs
  aws/rust-runtime/aws-inlineable/src/no_credentials.rs
  aws/rust-runtime/aws-runtime/src/identity.rs
  aws/rust-runtime/aws-runtime/src/lib.rs
  aws/rust-runtime/aws-types/external-types.toml
  aws/rust-runtime/aws-types/src/sdk_config.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsCodegenDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialCaches.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialProviders.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SdkConfigDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/CredentialCacheConfigTest.kt
  aws/sdk/integration-tests/no-default-features/Cargo.toml
  aws/sdk/integration-tests/no-default-features/tests/client-construction.rs
  aws/sdk/integration-tests/s3/tests/client_construction.rs
  aws/sdk/integration-tests/s3/tests/sleep_impl_use_cases.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/IdentityCacheDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientRuntimeTypesReExportGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  rust-runtime/aws-smithy-runtime-api/src/client/auth.rs
  rust-runtime/aws-smithy-runtime-api/src/client/endpoint.rs
  rust-runtime/aws-smithy-runtime-api/src/client/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries/classifiers.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime/src/client/auth/http.rs
  rust-runtime/aws-smithy-runtime/src/client/defaults.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/replay.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/cache/lazy.rs
  rust-runtime/aws-smithy-runtime/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
Labels: breaking-change

#3087 Fix bug where Custom Auth Schemes were not respected
  CHANGELOG.next.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4AuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpAuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/NoAuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/ClientCodegenDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/AuthOptionsPluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationRuntimePluginGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpAuthDecoratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustWriter.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/RuntimeType.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/CodegenIntegrationTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/util/Exec.kt
  rust-runtime/inlineable/src/auth_plugin.rs
  rust-runtime/inlineable/src/lib.rs
Labels: breaking-change

#3088 Feature-gate public use of `http-body` and `hyper` within `aws-smithy-types`
  CHANGELOG.next.toml
  aws/rust-runtime/aws-inlineable/Cargo.toml
  aws/rust-runtime/aws-inlineable/src/http_request_checksum.rs
  aws/rust-runtime/aws-inlineable/src/http_response_checksum.rs
  aws/sdk/integration-tests/glacier/tests/custom-headers.rs
  aws/sdk/integration-tests/s3/tests/checksums.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/HttpBoundProtocolGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/ServerRequiredCustomizations.kt
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/src/pytests/bytestream.rs
  rust-runtime/aws-smithy-http-server-python/src/types.rs
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http/Cargo.toml
  rust-runtime/aws-smithy-http/src/body.rs
  rust-runtime/aws-smithy-http/src/event_stream/receiver.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client/http/hyper_014.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/dvr/record.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/dvr/replay.rs
  rust-runtime/aws-smithy-runtime/tests/reconnect_on_transient_error.rs
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/external-types.toml
  rust-runtime/aws-smithy-types/src/body.rs
  rust-runtime/aws-smithy-types/src/body/http_body_0_4_x.rs
  rust-runtime/aws-smithy-types/src/byte_stream.rs
  rust-runtime/aws-smithy-types/src/byte_stream/bytestream_util.rs
  rust-runtime/aws-smithy-types/src/byte_stream/http_body_0_4_x.rs
Labels: breaking-change

#3084 Add Clone impl to PresignedRequest
  aws/rust-runtime/aws-inlineable/src/presigning.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsPresigningDecorator.kt
Labels: breaking-change

#3068 Minimum throughput body timeouts Pt.1
  aws/sdk/integration-tests/s3/Cargo.toml
  rust-runtime/Cargo.toml
  rust-runtime/aws-smithy-async/src/future/pagination_stream.rs
  rust-runtime/aws-smithy-async/src/rt/sleep.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/external-types.toml
  rust-runtime/aws-smithy-runtime/src/client/http.rs
  rust-runtime/aws-smithy-runtime/src/client/http/body.rs
  rust-runtime/aws-smithy-runtime/src/client/http/body/minimum_throughput.rs
  rust-runtime/aws-smithy-runtime/src/client/http/body/minimum_throughput/http_body_0_4_x.rs
  rust-runtime/aws-smithy-runtime/src/client/http/body/minimum_throughput/throughput.rs
  rust-runtime/aws-smithy-runtime/src/client/http/hyper_014.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/dvr/record.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/dvr/replay.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/never.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/wire.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/http.rs
  rust-runtime/aws-smithy-runtime/tests/reconnect_on_transient_error.rs
  rust-runtime/aws-smithy-types/src/body.rs
  rust-runtime/aws-smithy-types/src/body/http_body_0_4_x.rs
Labels: breaking-change, needs-sdk-review

#3101 Avoid making `FsBuilder` aware of http-body version at interface level
  CHANGELOG.next.toml
  aws/rust-runtime/aws-inlineable/src/http_request_checksum.rs
  aws/sdk/integration-tests/glacier/tests/custom-headers.rs
  aws/sdk/integration-tests/s3/tests/checksums.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/ServerRequiredCustomizations.kt
  rust-runtime/aws-smithy-http-server-python/src/types.rs
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/src/body.rs
  rust-runtime/aws-smithy-types/src/byte_stream.rs
  rust-runtime/aws-smithy-types/src/byte_stream/bytestream_util.rs
  rust-runtime/aws-smithy-types/src/byte_stream/http_body_0_4_x.rs
Labels: breaking-change, needs-sdk-review, needs-server-review

#3103 Move `result` and `connection` from `aws-smithy-http` to `aws-smithy-runtime-api`
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/external-types.toml
  aws/rust-runtime/aws-config/src/http_credential_provider.rs
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/client/error.rs
  aws/rust-runtime/aws-config/src/sts/assume_role.rs
  aws/rust-runtime/aws-http/Cargo.toml
  aws/rust-runtime/aws-http/src/request_id.rs
  aws/rust-runtime/aws-inlineable/src/s3_request_id.rs
  aws/rust-runtime/aws-types/Cargo.toml
  aws/sdk/integration-tests/kms/tests/integration.rs
  aws/sdk/integration-tests/kms/tests/retryable_errors.rs
  aws/sdk/integration-tests/s3/tests/alternative-async-runtime.rs
  aws/sdk/integration-tests/s3/tests/query-strings-are-correctly-encoded.rs
  aws/sdk/integration-tests/s3/tests/service_timeout_overrides.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/error/OperationErrorGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/RuntimeType.kt
  rust-runtime/aws-smithy-http/Cargo.toml
  rust-runtime/aws-smithy-http/external-types.toml
  rust-runtime/aws-smithy-http/src/body.rs
  rust-runtime/aws-smithy-http/src/byte_stream.rs
  rust-runtime/aws-smithy-http/src/connection.rs
  rust-runtime/aws-smithy-http/src/event_stream/receiver.rs
  rust-runtime/aws-smithy-http/src/event_stream/sender.rs
  rust-runtime/aws-smithy-http/src/result.rs
  rust-runtime/aws-smithy-runtime-api/Cargo.toml
  rust-runtime/aws-smithy-runtime-api/external-types.toml
  rust-runtime/aws-smithy-runtime-api/src/client.rs
  rust-runtime/aws-smithy-runtime-api/src/client/connection.rs
  rust-runtime/aws-smithy-runtime-api/src/client/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors/context.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime-api/src/client/result.rs
  rust-runtime/aws-smithy-runtime/src/client/http/connection_poisoning.rs
  rust-runtime/aws-smithy-runtime/src/client/http/hyper_014.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/dvr/replay.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/infallible.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/replay.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
  rust-runtime/aws-smithy-runtime/src/client/timeout.rs
Labels: breaking-change

#3099 Small tweaks to the HTTP wrapper
  rust-runtime/aws-smithy-runtime-api/src/client/http/request.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
Labels: breaking-change

#3095 Build services with a derived configuration object
  CHANGELOG.next.toml
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustWriter.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRootGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServiceConfigGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  design/src/server/anatomy.md
  design/src/server/instrumentation.md
  design/src/server/middleware.md
  examples/pokemon-service-common/tests/plugins_execution_order.rs
  examples/pokemon-service-lambda/src/main.rs
  examples/pokemon-service-tls/src/main.rs
  examples/pokemon-service/src/main.rs
  rust-runtime/aws-smithy-http-server/src/plugin/http_plugins.rs
  rust-runtime/aws-smithy-http-server/src/request/request_id.rs
Labels: breaking-change, server

#3107 Test decorators in server tests
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/testutil/ServerTestHelpers.kt
Labels: server

#3111 Allow server decorators to inject methods on config
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/Rust.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCargoDependency.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customize/ServerCodegenDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRootGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServiceConfigGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServiceConfigGeneratorTest.kt
  rust-runtime/aws-smithy-http-server/src/plugin/stack.rs
Labels: server
