Repository smithy-lang/smithy-rs, pull requests merged in 2023-01, with the labels that each got.

#2145 Add a test helper for creating a dummy Credentials
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/src/profile/credentials/exec.rs
  aws/rust-runtime/aws-config/src/sts/assume_role.rs
  aws/rust-runtime/aws-credential-types/Cargo.toml
  aws/rust-runtime/aws-credential-types/src/credentials_impl.rs
  aws/rust-runtime/aws-http/Cargo.toml
  aws/rust-runtime/aws-http/src/auth.rs
  aws/rust-runtime/aws-inlineable/Cargo.toml
  aws/rust-runtime/aws-inlineable/tests/middleware_e2e_test.rs
  aws/rust-runtime/aws-sig-auth/Cargo.toml
  aws/rust-runtime/aws-sig-auth/src/event_stream.rs
  aws/rust-runtime/aws-sig-auth/src/middleware.rs
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/EndpointsCredentialsTest.kt
  aws/sdk/integration-tests/dynamodb/Cargo.toml
  aws/sdk/integration-tests/dynamodb/tests/cloning.rs
  aws/sdk/integration-tests/dynamodb/tests/endpoints.rs
  aws/sdk/integration-tests/dynamodb/tests/movies.rs
  aws/sdk/integration-tests/dynamodb/tests/paginators.rs
  aws/sdk/integration-tests/dynamodb/tests/shared-config.rs
  aws/sdk/integration-tests/dynamodb/tests/timeouts.rs
  aws/sdk/integration-tests/ec2/Cargo.toml
  aws/sdk/integration-tests/ec2/tests/paginators.rs
  aws/sdk/integration-tests/glacier/Cargo.toml
  aws/sdk/integration-tests/glacier/tests/custom-headers.rs
  aws/sdk/integration-tests/iam/Cargo.toml
  aws/sdk/integration-tests/iam/tests/resolve-global-endpoint.rs
  aws/sdk/integration-tests/kms/Cargo.toml
  aws/sdk/integration-tests/kms/tests/integration.rs
  aws/sdk/integration-tests/polly/Cargo.toml
  aws/sdk/integration-tests/polly/tests/presigning.rs
  aws/sdk/integration-tests/qldbsession/Cargo.toml
  aws/sdk/integration-tests/qldbsession/tests/integration.rs
  aws/sdk/integration-tests/s3/Cargo.toml
  aws/sdk/integration-tests/s3/tests/alternative-async-runtime.rs
  aws/sdk/integration-tests/s3/tests/checksums.rs
  aws/sdk/integration-tests/s3/tests/concurrency.rs
  aws/sdk/integration-tests/s3/tests/customizable-operation.rs
  aws/sdk/integration-tests/s3/tests/endpoints.rs
  aws/sdk/integration-tests/s3/tests/ignore-invalid-xml-body-root.rs
  aws/sdk/integration-tests/s3/tests/naughty-string-metadata.rs
  aws/sdk/integration-tests/s3/tests/normalize-uri-path.rs
  aws/sdk/integration-tests/s3/tests/presigning.rs
  aws/sdk/integration-tests/s3/tests/query-strings-are-correctly-encoded.rs
  aws/sdk/integration-tests/s3/tests/recursion-detection.rs
  aws/sdk/integration-tests/s3/tests/select-object-content.rs
  aws/sdk/integration-tests/s3/tests/signing-it.rs
  aws/sdk/integration-tests/s3/tests/streaming-response.rs
  aws/sdk/integration-tests/s3/tests/timeouts.rs
  aws/sdk/integration-tests/s3/tests/user-agent-app-name.rs
  aws/sdk/integration-tests/s3control/Cargo.toml
  aws/sdk/integration-tests/s3control/tests/signing-it.rs
  aws/sdk/integration-tests/sts/Cargo.toml
  aws/sdk/integration-tests/sts/tests/signing-it.rs
  aws/sdk/integration-tests/transcribestreaming/Cargo.toml
  aws/sdk/integration-tests/transcribestreaming/tests/test.rs
Labels: needs-sdk-review

#2155 Redact sensitive structs in debug
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/util/Smithy.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/BuilderGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/StructureGeneratorTest.kt
Labels: needs-server-review

#1944 RFC: Serialization and deserialization
  design/src/SUMMARY.md
  design/src/rfcs/rfc0030_serialization_and_deserialization.md
Labels: rfc

#2167 get info logs for the canary
  tools/ci-cdk/canary-runner/src/run.rs
Labels: needs-sdk-review

#2165 Remove fixes for some now not broken request tests
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: server

#2176 Rename `PokemonService` `NotAuthorized`
  codegen-core/common-test-models/pokemon.smithy
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service-connect-info.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service-lambda.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/lib.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/simple_integration_test.rs
Labels: server, needs-server-review

#2168 Enable FIPS and dual-stack from SDK config
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/default_provider.rs
  aws/rust-runtime/aws-config/src/default_provider/credentials.rs
  aws/rust-runtime/aws-config/src/default_provider/retry_config.rs
  aws/rust-runtime/aws-config/src/default_provider/use_dual_stack.rs
  aws/rust-runtime/aws-config/src/default_provider/use_fips.rs
  aws/rust-runtime/aws-config/src/environment/mod.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-types/src/sdk_config.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AddFIPSDualStackDecorator.kt
  aws/sdk/integration-tests/dynamodb/tests/endpoints.rs
Labels: needs-sdk-review

#2058 Compile regexes for `@pattern` strings early
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/Util.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustModule.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/SymbolVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedStringGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/TraitInfo.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedStringGeneratorTest.kt
Labels: server

#2179 Workaround bug in smithy-rules-engine
  aws/sdk-adhoc-test/build.gradle.kts
  aws/sdk-adhoc-test/models/single-static-endpoint.smithy
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsEndpointDecorator.kt
  buildSrc/src/main/kotlin/CodegenTestCommon.kt
Labels: needs-sdk-review

#2164 Enforce downwards walker traversal
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientCodegenVisitor.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/DirectedWalker.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/transformers/EventStreamNormalizer.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/customizations/PythonServerCodegenDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/Constraints.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/transformers/AttachValidationExceptionToConstrainedOperationInputsInAllowList.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/transformers/ShapesReachableFromOperationInputTagger.kt
Labels: server, needs-sdk-review

#1909 Re-export runtime types in server generated crates
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRuntimeTypesReExportsGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
Labels: server

#2213 Support `@sparse` constrained map shapes and list shapes
  CHANGELOG.next.toml
  codegen-core/common-test-models/constraints.smithy
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/PubCrateConstrainedShapeSymbolProvider.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedCollectionGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedMapGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/PubCrateConstrainedCollectionGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/PubCrateConstrainedMapGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedCollectionGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedMapGenerator.kt
Labels: bug, server, constraint-traits

#2122 Ensure SDK credential cache type safety
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/external-types.toml
  aws/rust-runtime/aws-config/src/default_provider/credentials.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/profile/credentials.rs
  aws/rust-runtime/aws-config/src/profile/profile_file.rs
  aws/rust-runtime/aws-config/src/sts/assume_role.rs
  aws/rust-runtime/aws-credential-types/README.md
  aws/rust-runtime/aws-credential-types/src/cache.rs
  aws/rust-runtime/aws-credential-types/src/cache/expiring_cache.rs
  aws/rust-runtime/aws-credential-types/src/cache/lazy_caching.rs
  aws/rust-runtime/aws-credential-types/src/lib.rs
  aws/rust-runtime/aws-credential-types/src/provider.rs
  aws/rust-runtime/aws-http/external-types.toml
  aws/rust-runtime/aws-http/src/auth.rs
  aws/rust-runtime/aws-inlineable/tests/middleware_e2e_test.rs
  aws/rust-runtime/aws-types/external-types.toml
  aws/rust-runtime/aws-types/src/sdk_config.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsCodegenDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialCaches.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialProviders.kt
  aws/sdk/integration-tests/dynamodb/tests/cloning.rs
  aws/sdk/integration-tests/dynamodb/tests/timeouts.rs
  aws/sdk/integration-tests/s3/tests/alternative-async-runtime.rs
  aws/sdk/integration-tests/s3/tests/checksums.rs
  aws/sdk/integration-tests/s3/tests/concurrency.rs
  aws/sdk/integration-tests/s3/tests/customizable-operation.rs
  aws/sdk/integration-tests/s3/tests/endpoints.rs
  aws/sdk/integration-tests/s3/tests/ignore-invalid-xml-body-root.rs
  aws/sdk/integration-tests/s3/tests/naughty-string-metadata.rs
  aws/sdk/integration-tests/s3/tests/normalize-uri-path.rs
  aws/sdk/integration-tests/s3/tests/query-strings-are-correctly-encoded.rs
  aws/sdk/integration-tests/s3/tests/recursion-detection.rs
  aws/sdk/integration-tests/s3/tests/select-object-content.rs
  aws/sdk/integration-tests/s3/tests/signing-it.rs
  aws/sdk/integration-tests/s3/tests/streaming-response.rs
  aws/sdk/integration-tests/s3/tests/timeouts.rs
  aws/sdk/integration-tests/s3/tests/user-agent-app-name.rs
  aws/sdk/integration-tests/s3control/tests/signing-it.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
Labels: needs-sdk-review

#2212 Add panic message when `httpMalformedRequestTests` fail
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
Labels: testing

#2161 Remove old service builder machinery
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerOperationHandlerGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCargoDependency.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRuntimeType.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationRegistryGeneratorTest.kt
  rust-runtime/aws-smithy-http-server/src/extension.rs
  rust-runtime/aws-smithy-http-server/src/lib.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json_10/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json_11/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/mod.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/router.rs
  rust-runtime/aws-smithy-http-server/src/protocols.rs
  rust-runtime/aws-smithy-http-server/src/rejection.rs
  rust-runtime/aws-smithy-http-server/src/request/mod.rs
  rust-runtime/aws-smithy-http-server/src/routers.rs
  rust-runtime/aws-smithy-http-server/src/routing/future.rs
  rust-runtime/aws-smithy-http-server/src/routing/mod.rs
  rust-runtime/aws-smithy-http-server/src/routing/request_spec.rs
  rust-runtime/aws-smithy-http-server/src/routing/route.rs
  rust-runtime/aws-smithy-http-server/src/runtime_error.rs
  rust-runtime/inlineable/src/lib.rs
  rust-runtime/inlineable/src/server_operation_handler_trait.rs
Labels: breaking-change, server, needs-server-review

#2247 Fix `OperationExtensionFuture` poll order
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-http-server/src/extension.rs
Labels: bug, server

#2244 Newtype FromRequest::Future
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
Labels: server, needs-server-review

#2218 Add RFC: Providing fallback credentials on timeout
  design/src/SUMMARY.md
  design/src/rfcs/overview.md
  design/src/rfcs/rfc0031_providing_fallback_credentials_on_timeout.md
Labels: needs-sdk-review

#2188 Python: Support `document` type
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCargoDependency.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerRuntimeType.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerSymbolProvider.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/customizations/PythonServerCodegenDecorator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/testutil/PythonServerTestHelpers.kt
  codegen-server/python/src/test/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerTypesTest.kt
  rust-runtime/aws-smithy-http-server-python/src/types.rs
Labels: python-server

#2259 Make minor fixes to the crate claim workflow
  .github/workflows/claim-crate-names.yml
Labels: needs-review
