Repository smithy-lang/smithy-rs, pull requests merged in 2023-06, with the labels that each got.

#2736 Fix various small issues with the orchestrator
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/invocation_id.rs
  aws/rust-runtime/aws-runtime/src/recursion_detection.rs
  aws/rust-runtime/aws-runtime/src/request_info.rs
  aws/rust-runtime/aws-runtime/src/user_agent.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsCustomizableOperationDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsRuntimeType.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/InvocationIdDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RetryInformationHeaderDecorator.kt
  aws/sdk/integration-tests/transcribestreaming/Cargo.toml
  aws/sra-test/integration-tests/aws-sdk-s3/tests/request_information_headers.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/sra_test.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGenerator.kt
  codegen-core/common-test-models/pokemon.smithy
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraintsAreNotUsedTest.kt
  rust-runtime/aws-smithy-runtime-api/src/client.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors/context.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator/error.rs
  rust-runtime/aws-smithy-runtime-api/src/client/request_attempts.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/external-types.toml
  rust-runtime/aws-smithy-runtime/src/client.rs
  rust-runtime/aws-smithy-runtime/src/client/connections/test_connection.rs
  rust-runtime/aws-smithy-runtime/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/interceptors.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/interceptors/request_attempts.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/fixed_delay.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/interceptors.rs
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/src/config_bag.rs
  rust-runtime/aws-smithy-types/src/date_time/mod.rs
  rust-runtime/aws-smithy-types/src/type_erasure.rs
Labels: needs-sdk-review

#2742 Add SharedAsyncSleep wrapping Arc<dyn AsyncSleep>
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/connector.rs
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/provider_config.rs
  aws/rust-runtime/aws-credential-types/external-types.toml
  aws/rust-runtime/aws-credential-types/src/cache/lazy_caching.rs
  aws/rust-runtime/aws-inlineable/src/endpoint_discovery.rs
  aws/rust-runtime/aws-types/external-types.toml
  aws/rust-runtime/aws-types/src/sdk_config.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialProviders.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SdkConfigDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/timestream/TimestreamDecorator.kt
  aws/sdk/integration-tests/dynamodb/tests/timeouts.rs
  aws/sdk/integration-tests/no-default-features/tests/client-construction.rs
  aws/sdk/integration-tests/s3/tests/alternative-async-runtime.rs
  aws/sdk/integration-tests/s3/tests/make-connector-override.rs
  aws/sdk/integration-tests/s3/tests/reconnects.rs
  aws/sdk/integration-tests/s3/tests/sleep_impl_use_cases.rs
  aws/sdk/integration-tests/s3/tests/timeouts.rs
  aws/sdk/integration-tests/timestreamquery/tests/endpoint_disco.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  rust-runtime/aws-smithy-async/src/rt/sleep.rs
  rust-runtime/aws-smithy-client/src/builder.rs
  rust-runtime/aws-smithy-client/src/conns.rs
  rust-runtime/aws-smithy-client/src/http_connector.rs
  rust-runtime/aws-smithy-client/src/hyper_ext.rs
  rust-runtime/aws-smithy-client/src/lib.rs
  rust-runtime/aws-smithy-client/src/retry.rs
  rust-runtime/aws-smithy-client/src/timeout.rs
  rust-runtime/aws-smithy-client/tests/e2e_test.rs
  rust-runtime/aws-smithy-client/tests/reconnect_on_transient_error.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/timeout.rs
Labels: breaking-change, needs-sdk-review

#2748 Runtime config refactors
  rust-runtime/aws-smithy-types/src/config_bag.rs
Labels: breaking-change

#2027 Add CI to the book
  .github/workflows/ci.yml
  ci.mk
  design/book.toml
  design/src/SUMMARY.md
  design/src/client/identity_and_auth.md
  design/src/client/orchestrator.md
  design/src/contributing/writing_and_debugging_a_low-level_feature_that_relies_on_HTTP.md
  design/src/overview.md
  design/src/rfcs/rfc0001_shared_config.md
  design/src/rfcs/rfc0002_http_versions.md
  design/src/rfcs/rfc0003_presigning_api.md
  design/src/rfcs/rfc0004_retry_behavior.md
  design/src/rfcs/rfc0008_paginators.md
  design/src/rfcs/rfc0010_waiters.md
  design/src/rfcs/rfc0013_body_callback_apis.md
  design/src/rfcs/rfc0014_timeout_config.md
  design/src/rfcs/rfc0015_using_features_responsibly.md
  design/src/rfcs/rfc0016_flexible_checksum_support.md
  design/src/rfcs/rfc0017_customizable_client_operations.md
  design/src/rfcs/rfc0018_logging_sensitive.md
  design/src/rfcs/rfc0019_event_streams_errors.md
  design/src/rfcs/rfc0020_service_builder.md
  design/src/rfcs/rfc0022_error_context_and_compatibility.md
  design/src/rfcs/rfc0023_refine_builder.md
  design/src/rfcs/rfc0024_request_id.md
  design/src/rfcs/rfc0025_constraint_traits.md
  design/src/rfcs/rfc0026_client_crate_organization.md
  design/src/rfcs/rfc0027_endpoints_20.md
  design/src/rfcs/rfc0028_sdk_credential_cache_type_safety.md
  design/src/rfcs/rfc0029_new_home_for_cred_types.md
  design/src/rfcs/rfc0030_serialization_and_deserialization.md
  design/src/rfcs/rfc0031_providing_fallback_credentials_on_timeout.md
  design/src/rfcs/rfc0032_better_constraint_violations.md
  design/src/rfcs/rfc0033_improve_sdk_request_id_access.md
  design/src/rfcs/rfc0034_smithy_orchestrator.md
  design/src/server/anatomy.md
  design/src/server/code_generation.md
  design/src/server/from_parts.md
  design/src/server/instrumentation.md
  design/src/server/middleware.md
  design/src/server/overview.md
  design/src/server/pokemon_service.md
  design/src/smithy/aggregate_shapes.md
  design/src/smithy/backwards-compat.md
  design/src/smithy/endpoint.md
  design/src/smithy/simple_shapes.md
  design/src/transport/operation.md
  tools/ci-build/Dockerfile
  tools/ci-scripts/check-book
Labels: documentation

#2740 Simplify `Plugin` trait
  CHANGELOG.next.toml
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRustModule.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/DocHandlerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRootGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRuntimeTypesReExportsGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  design/src/server/anatomy.md
  design/src/server/instrumentation.md
  design/src/server/middleware.md
  examples/pokemon-service-common/tests/plugins_execution_order.rs
  examples/pokemon-service/src/main.rs
  examples/pokemon-service/src/plugin.rs
  rust-runtime/aws-smithy-http-server/src/extension.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/layer.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/mod.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/plugin.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/service.rs
  rust-runtime/aws-smithy-http-server/src/operation/handler.rs
  rust-runtime/aws-smithy-http-server/src/operation/mod.rs
  rust-runtime/aws-smithy-http-server/src/operation/operation_service.rs
  rust-runtime/aws-smithy-http-server/src/operation/shape.rs
  rust-runtime/aws-smithy-http-server/src/operation/upgrade.rs
  rust-runtime/aws-smithy-http-server/src/plugin/alb_health_check.rs
  rust-runtime/aws-smithy-http-server/src/plugin/closure.rs
  rust-runtime/aws-smithy-http-server/src/plugin/either.rs
  rust-runtime/aws-smithy-http-server/src/plugin/filter.rs
  rust-runtime/aws-smithy-http-server/src/plugin/identity.rs
  rust-runtime/aws-smithy-http-server/src/plugin/layer.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
  rust-runtime/aws-smithy-http-server/src/plugin/pipeline.rs
  rust-runtime/aws-smithy-http-server/src/plugin/stack.rs
Labels: ergonomics, breaking-change, server

#2754 Update runtime plugin trait
  aws/rust-runtime/aws-inlineable/src/glacier_interceptors.rs
  aws/rust-runtime/aws-inlineable/src/presigning_interceptors.rs
  aws/rust-runtime/aws-runtime/src/auth/sigv4.rs
  aws/rust-runtime/aws-runtime/src/invocation_id.rs
  aws/rust-runtime/aws-runtime/src/request_info.rs
  aws/rust-runtime/aws-runtime/src/user_agent.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsCustomizableOperationDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/InvocationIdDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RecursionDetectionDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RetryInformationHeaderDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4AuthDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/UserAgentDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/apigateway/ApiGatewayDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/glacier/GlacierDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpAuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/InterceptorConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointParamsDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointParamsInterceptorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/HttpBoundProtocolGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/testutil/TestConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/testutil/TestHelpers.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustWriter.kt
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/interceptors/service_clock_skew.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/standard.rs
  rust-runtime/aws-smithy-runtime/src/client/runtime_plugin/anonymous_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/deserializer.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/interceptors.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/serializer.rs
  rust-runtime/aws-smithy-runtime/src/client/timeout.rs
  rust-runtime/aws-smithy-types/src/config_bag.rs
  rust-runtime/aws-smithy-types/src/config_bag/storable.rs
Labels: breaking-change, needs-sdk-review

#2764 Update standard orchestrator retries with token bucket and more tests
  aws/rust-runtime/aws-config/src/profile/credentials.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator/error.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries/rate_limiting.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries/rate_limiting/error.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries/rate_limiting/token.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries/rate_limiting/token_bucket.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/classifier.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/standard.rs
  rust-runtime/aws-smithy-runtime/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime/src/client/runtime_plugin/standard_token_bucket.rs
  rust-runtime/aws-smithy-types/src/retry.rs
Labels: needs-sdk-review

#2759 Add `Scoped` `Plugin`
  CHANGELOG.next.toml
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ScopeMacroGenerator.kt
  design/src/server/middleware.md
  examples/pokemon-service/src/main.rs
  rust-runtime/aws-smithy-http-server/src/plugin/filter.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
  rust-runtime/aws-smithy-http-server/src/plugin/scoped.rs
Labels: server

#2768 Fix protocol tests against the orchestrator
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/IntegrationTestDependencies.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGenerator.kt
  tools/ci-scripts/check-aws-sdk-orchestrator-impl
Labels: needs-sdk-review

#2778 Fix rustfmt on generated SDK code
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
Labels: needs-sdk-review

#2779 Relax bounds on `Scoped`
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-http-server/src/plugin/scoped.rs
Labels: server

#2762 Make service config just contain a `FrozenLayer` in the orchestrator mode
  aws/rust-runtime/aws-credential-types/external-types.toml
  aws/rust-runtime/aws-credential-types/src/cache.rs
  aws/rust-runtime/aws-credential-types/src/provider.rs
  aws/rust-runtime/aws-types/external-types.toml
  aws/rust-runtime/aws-types/src/app_name.rs
  aws/rust-runtime/aws-types/src/endpoint_config.rs
  aws/rust-runtime/aws-types/src/lib.rs
  aws/rust-runtime/aws-types/src/region.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialCaches.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/EndpointBuiltInsDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/HttpConnectorConfigCustomization.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RegionDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/UserAgentDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/timestream/TimestreamDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/CredentialProviderConfigTest.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/HttpConnectorConfigCustomizationTest.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/RegionProviderConfigTest.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/SigV4SigningDecoratorTest.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ApiKeyAuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpAuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpConnectorConfigDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/InterceptorConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/TimeSourceCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/ClientContextConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointParamsInterceptorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/IdempotencyTokenProviderCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/TimeSourceConfig.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/testutil/TestConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/testutil/TestHelpers.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomizationTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/ClientContextConfigCustomizationTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/IdempotencyTokenProviderCustomizationTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/RuntimeType.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/InlineDependencyTest.kt
  rust-runtime/aws-smithy-async/Cargo.toml
  rust-runtime/aws-smithy-async/external-types.toml
  rust-runtime/aws-smithy-async/src/rt/sleep.rs
  rust-runtime/aws-smithy-async/src/test_util.rs
  rust-runtime/aws-smithy-async/src/time.rs
  rust-runtime/aws-smithy-client/src/http_connector.rs
  rust-runtime/aws-smithy-http/src/endpoint.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-types/src/retry.rs
  rust-runtime/aws-smithy-types/src/timeout.rs
  rust-runtime/inlineable/src/idempotency_token.rs
Labels: breaking-change, needs-sdk-review

#2783 Rename `make_token` to `idempotency_token_provider`
  CHANGELOG.next.toml
  aws/sdk/integration-tests/timestreamquery/tests/endpoint_disco.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/IdempotencyTokenGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/IdempotencyTokenProviderCustomization.kt
Labels: breaking-change

#2785 Fix `@httpChecksum` in the orchestrator implementation
  aws/rust-runtime/aws-inlineable/src/http_body_checksum_middleware.rs
  aws/rust-runtime/aws-inlineable/src/http_request_checksum.rs
  aws/rust-runtime/aws-inlineable/src/http_response_checksum.rs
  aws/rust-runtime/aws-inlineable/src/lib.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/HttpRequestChecksumDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/HttpResponseChecksumDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/EndpointPrefixGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpVersionListCustomization.kt
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors/context/wrappers.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
Labels: needs-sdk-review

#2789 Invert `seen_${var}` to `${var}_seen`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
Labels: bug, server

#2780 Consolidate `proto` and `protocols` modules into single `protocol` module
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRuntimeType.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRuntimeTypesReExportsGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  design/src/server/anatomy.md
  rust-runtime/aws-smithy-http-server-python/src/error.rs
  rust-runtime/aws-smithy-http-server-python/src/middleware/pytests/layer.rs
  rust-runtime/aws-smithy-http-server/src/extension.rs
  rust-runtime/aws-smithy-http-server/src/lib.rs
  rust-runtime/aws-smithy-http-server/src/proto/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json/rejection.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json/router.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json_10/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json_10/router.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json_11/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json_11/router.rs
  rust-runtime/aws-smithy-http-server/src/protocol/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest/router.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/rejection.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/router.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_xml/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_xml/rejection.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_xml/router.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_xml/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/routing/request_spec.rs
  rust-runtime/aws-smithy-http-server/src/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/service.rs
Labels: breaking-change, server

#2784 Add `CloneableLayer` that can be `Clone`d
  rust-runtime/aws-smithy-types/src/config_bag.rs
  rust-runtime/aws-smithy-types/src/type_erasure.rs
Labels: needs-sdk-review

#2795 Make service config builder contain `CloneableLayer`
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsFluentClientDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialCaches.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialProviders.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/HttpConnectorConfigCustomization.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RegionDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/UserAgentDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/CredentialProviderConfigTest.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpConnectorConfigDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/TimeSourceCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/IdempotencyTokenProviderCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/testutil/TestConfigCustomization.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGeneratorTest.kt
  rust-runtime/aws-smithy-types/src/config_bag.rs
Labels: needs-sdk-review

#2802 Configure orchestrator's key components in builder's build method
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialCaches.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4AuthDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4SigningDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/UserAgentDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/SigV4SigningDecoratorTest.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpConnectorConfigDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/TimeSourceCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/IdempotencyTokenProviderCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/standard.rs
  rust-runtime/aws-smithy-types/src/config_bag.rs
Labels: needs-sdk-review

#2806 Remove HACK that used to put `Handle` in config bag
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/EndpointBuiltInsDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RegionDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointParamsInterceptorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/testutil/TestConfigCustomization.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/ClientContextConfigCustomizationTest.kt
Labels: needs-sdk-review

#2807 Remove `get`/`put` methods from `ConfigBag` and `Layer`
  aws/rust-runtime/aws-http/src/user_agent.rs
  aws/rust-runtime/aws-inlineable/src/glacier_interceptors.rs
  aws/rust-runtime/aws-inlineable/src/http_request_checksum.rs
  aws/rust-runtime/aws-inlineable/src/presigning_interceptors.rs
  aws/rust-runtime/aws-runtime/src/auth/sigv4.rs
  aws/rust-runtime/aws-runtime/src/invocation_id.rs
  aws/rust-runtime/aws-runtime/src/request_info.rs
  aws/rust-runtime/aws-runtime/src/user_agent.rs
  aws/rust-runtime/aws-types/src/lib.rs
  aws/rust-runtime/aws-types/src/region.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsPresigningDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4AuthDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4SigningDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/UserAgentDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpAuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpConnectorConfigDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointParamsInterceptorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/RequestSerializerGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/HttpBoundProtocolGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  rust-runtime/aws-smithy-eventstream/src/frame.rs
  rust-runtime/aws-smithy-http/src/endpoint.rs
  rust-runtime/aws-smithy-runtime-api/src/client/auth.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime-api/src/client/request_attempts.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/interceptors/service_clock_skew.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/fixed_delay.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/standard.rs
  rust-runtime/aws-smithy-runtime/src/client/runtime_plugin/anonymous_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/deserializer.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/serializer.rs
  rust-runtime/aws-smithy-runtime/src/client/timeout.rs
  rust-runtime/aws-smithy-types/src/config_bag.rs
  rust-runtime/aws-smithy-types/src/endpoint.rs
  rust-runtime/inlineable/src/serialization_settings.rs
Labels: needs-sdk-review

#2821 Bifurcate the expected error message based on runtime mode
  aws/sdk/integration-tests/s3/tests/endpoints.rs
Labels: needs-sdk-review
