Repository smithy-lang/smithy-rs, pull requests merged in 2023-09, with the labels that each got.

#2970 Port middleware connectors to the orchestrator
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-client/src/erase.rs
  rust-runtime/aws-smithy-runtime-api/Cargo.toml
  rust-runtime/aws-smithy-runtime-api/src/client.rs
  rust-runtime/aws-smithy-runtime-api/src/client/connectors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/external-types.toml
  rust-runtime/aws-smithy-runtime/src/client.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/hyper_connector.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util/capture_request.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util/dvr.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util/dvr/record.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util/dvr/replay.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util/event_connector.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util/infallible.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util/never.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/test-data/example.com.json
Labels: breaking-change

#2974 Update dependencies of benchmark
  aws/sdk/benchmarks/orchestrator-vs-middleware/Cargo.lock
  aws/sdk/benchmarks/s3-throughput/benchmark/Cargo.lock
Labels: needs-sdk-review

#2975 Add utility for making unmodeled requests with the orchestrator
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime/src/client/connectors/test_util/capture_request.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
Labels: needs-sdk-review

#2986 Filter test inputs for presigning header exclusion proptest
  aws/rust-runtime/aws-sigv4/src/http_request/canonical_request.rs
Labels: needs-sdk-review

#2987 Cherry-pick codegen fix for unions with the `@httpPayload` trait
  CHANGELOG.next.toml
  codegen-client-test/model/rest-xml-extras.smithy
  codegen-core/common-test-models/rest-json-extras.smithy
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/HttpBoundProtocolPayloadGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/JsonSerializerGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/QuerySerializerGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/StructuredDataSerializerGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/XmlBindingTraitSerializerGenerator.kt
Labels: needs-sdk-review

#2985 Source defaults from the model instead of implicitly
  CHANGELOG.next.toml
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientInstantiator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/Writable.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/SymbolExt.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/SymbolVisitor.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/BuilderGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/DefaultValueGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/EnumGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/Instantiator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/TestHelpers.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/BuilderGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/InstantiatorTest.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerInstantiator.kt
Labels: needs-server-review

#2988 Extract builderInstantiator interface to prepare for nullability changes
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientCodegenContext.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientBuilderInstantiator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/ClientProtocolLoader.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/CodegenContext.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/BuilderInstantiator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/AwsJson.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/parse/EventStreamUnmarshallerGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/parse/JsonParserGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/parse/XmlBindingTraitParserGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/DefaultBuilderInstantiator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/EventStreamTestModels.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/TestHelpers.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenContext.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerInstantiator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
Labels: needs-sdk-review

#2916 add support for nullable struct members when generating AWS SDKs
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/sts/util.rs
  aws/sdk-adhoc-test/build.gradle.kts
  aws/sdk-adhoc-test/models/required-value-test.smithy
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/BaseRequestIdDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/s3/S3ExtendedRequestIdDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/timestream/TimestreamDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/customize/ec2/EC2MakePrimitivesOptionalTest.kt
  aws/sdk/build.gradle.kts
  aws/sdk/integration-tests/Cargo.toml
  aws/sdk/integration-tests/dynamodb/tests/movies.rs
  aws/sdk/integration-tests/qldbsession/tests/integration.rs
  codegen-client-test/build.gradle.kts
  codegen-client-test/model/error-correction-nullability-test.smithy
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientCodegenVisitor.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustSettings.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/IdempotencyTokenGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientBuilderInstantiator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ErrorCorrection.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolParserGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/ClientProtocolLoader.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointsDecoratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ErrorCorrectionTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustType.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/CoreRustSettings.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/SymbolVisitor.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/BuilderGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/Instantiator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/AwsJson.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/parse/XmlBindingTraitParserGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/QuerySerializerGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/DefaultBuilderInstantiator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/EventStreamTestModels.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/TestHelpers.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustReservedWordsTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/BuilderGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/StructureGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/parse/JsonParserGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/parse/XmlBindingTraitParserGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/AwsQuerySerializerGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/Ec2QuerySerializerGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/JsonSerializerGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/XmlBindingTraitSerializerGeneratorTest.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  examples/Cargo.toml
  examples/pokemon-service/tests/simple.rs
  examples/python/pokemon-service-test/tests/simple_integration_test.rs
  rust-runtime/aws-smithy-types/src/blob.rs
Labels: breaking-change, needs-sdk-review, needs-client-review

#2978 Remove `futures_core::stream::Stream` from `aws-smithy-async`
  CHANGELOG.next.toml
  aws/sdk/integration-tests/dynamodb/tests/paginators.rs
  aws/sdk/integration-tests/ec2/tests/paginators.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/PaginatorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  rust-runtime/aws-smithy-async/Cargo.toml
  rust-runtime/aws-smithy-async/external-types.toml
  rust-runtime/aws-smithy-async/src/future/fn_stream.rs
  rust-runtime/aws-smithy-async/src/future/mod.rs
  rust-runtime/aws-smithy-async/src/future/pagination_stream.rs
  rust-runtime/aws-smithy-async/src/future/pagination_stream/collect.rs
  rust-runtime/aws-smithy-async/src/future/pagination_stream/fn_stream.rs
  rust-runtime/aws-smithy-async/src/future/rendezvous.rs
  tools/ci-cdk/canary-lambda/src/latest/paginator_canary.rs
  tools/ci-cdk/canary-lambda/src/main.rs
  tools/ci-cdk/canary-lambda/src/release_2023_08_23.rs
  tools/ci-cdk/canary-lambda/src/release_2023_08_23/paginator_canary.rs
  tools/ci-cdk/canary-lambda/src/release_2023_08_23/s3_canary.rs
  tools/ci-cdk/canary-lambda/src/release_2023_08_23/transcribe_canary.rs
  tools/ci-cdk/canary-runner/src/build_bundle.rs
Labels: breaking-change, needs-sdk-review

#2995 Produce `&[T]` instead of `Option<&[T]>` for list fields
  CHANGELOG.next.toml
  aws/sdk/integration-tests/dynamodb/tests/retries-with-client-rate-limiting.rs
  aws/sdk/integration-tests/webassembly/src/list_buckets.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientCodegenVisitor.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustSettings.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/error/ErrorGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/CodegenContext.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/CoreRustSettings.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/StructureGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/TestHelpers.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/BuilderGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/StructureGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/transformers/RecursiveShapesIntegrationTest.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerStructureGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/testutil/ServerTestHelpers.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerBuilderDefaultValuesTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerBuilderGeneratorTest.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/generators/TsServerStructureGenerator.kt
  design/src/rfcs/rfc0035_collection_defaults.md
Labels: breaking-change, needs-server-review

#2983 Remove `futures_core::stream::Stream` from `aws_smithy_http::byte_stream::ByteStream`
  CHANGELOG.next.toml
  aws/rust-runtime/aws-inlineable/src/glacier_checksums.rs
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/RuntimeType.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/protocols/PythonServerProtocolLoader.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerProtocolLoader.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerRestXmlFactory.kt
  rust-runtime/aws-smithy-http-server-python/src/types.rs
  rust-runtime/aws-smithy-http/src/byte_stream.rs
  rust-runtime/aws-smithy-http/src/futures_stream_adapter.rs
  rust-runtime/aws-smithy-http/src/lib.rs
Labels: breaking-change, needs-sdk-review

#2997 Use the orchestrator client for ECS and IMDS credentials in aws-config
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/examples/imds.rs
  aws/rust-runtime/aws-config/src/ecs.rs
  aws/rust-runtime/aws-config/src/http_credential_provider.rs
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/client/error.rs
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  aws/rust-runtime/aws-config/src/imds/credentials.rs
  aws/rust-runtime/aws-config/src/imds/region.rs
  aws/rust-runtime/aws-config/test-data/imds-config/imds-endpoint-tests.json
  aws/rust-runtime/aws-runtime/src/user_agent.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/SensitiveOutputDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  rust-runtime/aws-smithy-client/src/test_connection.rs
  rust-runtime/aws-smithy-http/src/result.rs
  rust-runtime/aws-smithy-runtime-api/src/client/auth.rs
  rust-runtime/aws-smithy-runtime-api/src/client/connectors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/endpoint.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime-api/src/client/ser_de.rs
  rust-runtime/aws-smithy-runtime-api/src/lib.rs
  rust-runtime/aws-smithy-runtime-api/src/shared.rs
  rust-runtime/aws-smithy-runtime/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
Labels: breaking-change

#3012 Fix `#[warn(dead_code)]` in the SDK crate for a service with no operations defined
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGeneratorTest.kt
Labels: needs-sdk-review

#3009 Specify tilde version requirements for runtime crates in manifest files
  tools/ci-build/publisher/src/package.rs
  tools/ci-build/publisher/src/sort.rs
  tools/ci-build/publisher/src/subcommand/claim_crate_names.rs
  tools/ci-build/publisher/src/subcommand/fix_manifests.rs
  tools/ci-build/publisher/src/subcommand/fix_manifests/validate.rs
  tools/ci-build/publisher/src/subcommand/generate_version_manifest.rs
  tools/ci-build/publisher/src/subcommand/publish.rs
Labels: needs-sdk-review
