Repository smithy-lang/smithy-rs, pull requests merged in 2023-07, with the labels that each got.

#2814 Implement the remaining part of supporting operation level configuration
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsPresigningDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/CredentialCaches.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/CredentialCacheConfigTest.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/TestUtil.kt
  aws/sdk/integration-tests/s3/tests/config-override.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpConnectorConfigDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/InterceptorConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/EndpointConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/PaginatorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ConfigOverrideRuntimePluginGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/PaginatorGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/Rust.kt
  rust-runtime/aws-smithy-types/src/config_bag.rs
Labels: needs-sdk-review

#2827 Better distinguish model and HTTP plugins
  CHANGELOG.next.toml
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRootGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRuntimeTypesReExportsGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  design/src/server/anatomy.md
  design/src/server/instrumentation.md
  design/src/server/middleware.md
  examples/pokemon-service-common/tests/plugins_execution_order.rs
  examples/pokemon-service/src/main.rs
  examples/pokemon-service/src/plugin.rs
  rust-runtime/aws-smithy-http-server/src/extension.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/plugin.rs
  rust-runtime/aws-smithy-http-server/src/plugin/alb_health_check.rs
  rust-runtime/aws-smithy-http-server/src/plugin/filter.rs
  rust-runtime/aws-smithy-http-server/src/plugin/http_plugins.rs
  rust-runtime/aws-smithy-http-server/src/plugin/identity.rs
  rust-runtime/aws-smithy-http-server/src/plugin/layer.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
  rust-runtime/aws-smithy-http-server/src/plugin/model_plugins.rs
  rust-runtime/aws-smithy-http-server/src/plugin/scoped.rs
  rust-runtime/aws-smithy-http-server/src/plugin/stack.rs
Labels: server

#2829 Python: Allow configuring logging formatter
  examples/python/pokemon_service.py
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/src/logging.rs
  rust-runtime/aws-smithy-http-server-python/src/tls/listener.rs
Labels: enhancement, python-server

#2835 Increase max line length for generated client code
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientCodegenVisitor.kt
Labels: needs-sdk-review

#2845 Remove third party types from public APIs
  CHANGELOG.next.toml
  aws/rust-runtime/aws-http/external-types.toml
  aws/rust-runtime/aws-http/src/user_agent.rs
  rust-runtime/aws-smithy-async/external-types.toml
  rust-runtime/aws-smithy-async/src/future/rendezvous.rs
  rust-runtime/aws-smithy-xml/external-types.toml
  rust-runtime/aws-smithy-xml/src/decode.rs
Labels: breaking-change

#2861 Stop rebuilding `sdk-lints` all the time
  buildSrc/src/main/kotlin/RustBuildTool.kt
Labels: needs-sdk-review

#2862 Improve docs on config bag and type erasure
  rust-runtime/aws-smithy-types/src/config_bag.rs
  rust-runtime/aws-smithy-types/src/config_bag/storable.rs
  rust-runtime/aws-smithy-types/src/lib.rs
  rust-runtime/aws-smithy-types/src/type_erasure.rs
Labels: needs-sdk-review

#2727 Adjust sSDK error message when using `@range` on floating point shapes
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
Labels: server

#2865 Move `alb_health_check` module out of the `plugin` module
  CHANGELOG.next.toml
  examples/pokemon-service/src/main.rs
  examples/pokemon-service/tests/simple.rs
  rust-runtime/aws-smithy-http-server/src/layer/alb_health_check.rs
  rust-runtime/aws-smithy-http-server/src/layer/mod.rs
  rust-runtime/aws-smithy-http-server/src/lib.rs
  rust-runtime/aws-smithy-http-server/src/plugin/either.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
Labels: breaking-change, server

#2866 Render only shape name in server error responses
  CHANGELOG.next.toml
  codegen-core/common-test-models/rest-json-extras.smithy
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/RestJson.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerAwsJson.kt
Labels: server

#2877 Remove vestiges of the old TimeSource implementation & refactor
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/src/default_provider/credentials.rs
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/credentials.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/provider_config.rs
  aws/rust-runtime/aws-config/src/sts/assume_role.rs
  aws/rust-runtime/aws-credential-types/Cargo.toml
  aws/rust-runtime/aws-credential-types/src/cache/lazy_caching.rs
  aws/rust-runtime/aws-credential-types/src/lib.rs
  aws/rust-runtime/aws-credential-types/src/time_source.rs
  rust-runtime/aws-smithy-async/src/test_util.rs
Labels: breaking-change

#2876 Share HTTP connectors between providers and clients
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/default_provider/app_name.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/provider_config.rs
Labels: breaking-change, needs-sdk-review

#2885 Fix flag name to retrieve if runtime plugins are configurable
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustSettings.kt
Labels: needs-sdk-review

#2884 Run non-service SDK integration tests in CI
  tools/ci-scripts/check-aws-sdk-smoketest-unit-tests
Labels: needs-sdk-review
