Repository smithy-lang/smithy-rs, pull requests merged in 2023-04, with the labels that each got.

#2516 Remove `ignoreUnsupportedConstraintTraits` from integration test models
  codegen-server-test/build.gradle.kts
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
Labels: server

#2517 Split `RuntimeError` and `RequestRejection` by protocol
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRuntimeType.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/CustomValidationExceptionWithReasonDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/SmithyValidationExceptionDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerBuilderGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerBuilderGeneratorWithoutPublicConstrainedTypes.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ValidationExceptionConversionGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/testutil/ServerTestHelpers.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerBuilderDefaultValuesTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerBuilderGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerInstantiatorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationErrorGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedCollectionGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedMapGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedUnionGeneratorTest.kt
  rust-runtime/aws-smithy-http-server/src/proto/aws_json/mod.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json_10/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json_11/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/mod.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/router.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/mod.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/protocols.rs
  rust-runtime/aws-smithy-http-server/src/rejection.rs
  rust-runtime/aws-smithy-http-server/src/routing/request_spec.rs
  rust-runtime/aws-smithy-http-server/src/runtime_error.rs
Labels: server

#2528 Use `aws_smithy_types::primitive::Parse` in the server
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/rejection.rs
Labels: server

#2522 Improve invalid HTTP status code responses failure mode handling
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server/src/proto/aws_json/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/rejection.rs
Labels: server

#2524 Error log server response rejections
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
Labels: server

#2537 Move `RestRequestSpecGenerator` into `codegen-server`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/http/RestRequestSpecGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
Labels: server, refactoring

#2538 `#[allow(unused_variables)]` in JSON serializers when structure has no members
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/JsonSerializerGenerator.kt
Labels: refactoring

#2542 Tighten server rejection types
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/macros.rs
  rust-runtime/aws-smithy-http-server/src/proto/aws_json/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/rejection.rs
  rust-runtime/aws-smithy-http-server/src/rejection.rs
Labels: server

#2277 Initial implementation of Typescript server bindings
  .github/workflows/ci.yml
  .github/workflows/pull-request-bot.yml
  CODEOWNERS
  buildSrc/src/main/kotlin/CrateSet.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustWriter.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/CargoTomlGenerator.kt
  codegen-server-test/typescript/build.gradle.kts
  codegen-server-test/typescript/model/pokemon-common.smithy
  codegen-server-test/typescript/model/pokemon.smithy
  codegen-server/typescript/build.gradle.kts
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/RustServerCodegenTsPlugin.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/TsServerCargoDependency.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/TsServerCodegenVisitor.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/TsServerModuleDocProvider.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/TsServerRuntimeType.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/TsServerSymbolProvider.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/customizations/TsServerCodegenDecorator.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/generators/TsApplicationGenerator.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/generators/TsServerEnumGenerator.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/generators/TsServerOperationErrorGenerator.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/generators/TsServerOperationHandlerGenerator.kt
  codegen-server/typescript/src/main/kotlin/software/amazon/smithy/rust/codegen/server/typescript/smithy/generators/TsServerStructureGenerator.kt
  codegen-server/typescript/src/main/resources/META-INF/services/software.amazon.smithy.build.SmithyBuildPlugin
  rust-runtime/aws-smithy-http-server-typescript/Cargo.toml
  rust-runtime/aws-smithy-http-server-typescript/LICENSE
  rust-runtime/aws-smithy-http-server-typescript/README.md
  rust-runtime/aws-smithy-http-server-typescript/examples/.gitignore
  rust-runtime/aws-smithy-http-server-typescript/examples/Cargo.toml
  rust-runtime/aws-smithy-http-server-typescript/examples/Makefile
  rust-runtime/aws-smithy-http-server-typescript/examples/README.md
  rust-runtime/aws-smithy-http-server-typescript/examples/package.json
  rust-runtime/aws-smithy-http-server-typescript/examples/pokemon-service.ts
  rust-runtime/aws-smithy-http-server-typescript/src/lib.rs
  settings.gradle.kts
  tools/ci-build/publisher/src/package.rs
  tools/ci-build/sdk-lints/src/lint_cargo_toml.rs
  tools/ci-scripts/codegen-diff/diff_lib.py
Labels: server, typescript-server

#2560 Fix bug in WriteGetObjectResponse endpoint
  CHANGELOG.next.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/s3/S3Decorator.kt
  aws/sdk/integration-tests/s3/tests/endpoints.rs
Labels: next-release

#2563 Fix signing params debug impl
  CHANGELOG.next.toml
  aws/rust-runtime/aws-sigv4/src/lib.rs
Labels: needs-sdk-review

#2482 Python: Event Streaming
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/EventStreamSymbolProviderTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustType.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/EventStreamSymbolProvider.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/RuntimeType.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/http/HttpBindingGenerator.kt
  codegen-server-test/python/model/pokemon.smithy
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonEventStreamSymbolProvider.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCargoDependency.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerRustModule.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonType.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/RustServerCodegenPythonPlugin.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerEventStreamErrorGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerEventStreamWrapperGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerStructureGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationErrorGenerator.kt
  rust-runtime/aws-smithy-http-server-python/examples/mypy.ini
  rust-runtime/aws-smithy-http-server-python/examples/pokemon-service-test/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/examples/pokemon-service-test/tests/simple_integration_test.rs
  rust-runtime/aws-smithy-http-server-python/examples/pokemon_service.py
Labels: python-server

#2558 Fix the `HttpSigner` trait args
  aws/rust-runtime/aws-runtime/src/auth.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4AuthDecorator.kt
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
Labels: needs-sdk-review

#2541 [Python] Support more testing model
  .gitignore
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/TypeConversionGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/http/HttpBindingGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/parse/JsonParserGenerator.kt
  codegen-server-test/python/build.gradle.kts
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/ConstrainedPythonBlobGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerModuleGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerOperationHandlerGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerStructureGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerUnionGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/protocols/PythonServerProtocolLoader.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/http/ServerRequestBindingGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/http/ServerResponseBindingGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerAwsJson.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerRestJson.kt
  tools/ci-scripts/codegen-diff/diff_lib.py
Labels: enhancement, needs-sdk-review, python-server

#2587 Fix typo in changelog entry
  CHANGELOG.next.toml
Labels: needs-sdk-review

#2585 Fix generation of constrained shapes reaching `@sensitive` shapes
  CHANGELOG.next.toml
  codegen-core/common-test-models/constraints.smithy
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ConstrainedShapeSymbolMetadataProvider.kt
Labels: server

#2591 Add examples folder to CODEOWNERS
  CODEOWNERS
Labels: documentation, needs-server-review

#2597 `DEBUG`-log server request rejections
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCargoDependency.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server/src/proto/aws_json/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/rejection.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_json_1/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/proto/rest_xml/rejection.rs
Labels: server

#2529 Remove hardcoded crate names from `run_server` functions
  examples/pokemon-service-tls/tests/common/mod.rs
  examples/pokemon-service/src/main.rs
  examples/pokemon-service/tests/common/mod.rs
Labels: server

#2543 add: orchestrator design doc
  design/src/SUMMARY.md
  design/src/client/orchestrator.md
  design/src/client/overview.md
Labels: needs-sdk-review

#2604 Undeprecate `{content_type,accept}_header_classifier` from `aws-smithy-http-server`
  rust-runtime/aws-smithy-http-server/src/protocols.rs
Labels: server

#2606 [Python] Improve Python stubs generation
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonType.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerStructureGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerUnionGenerator.kt
  codegen-server/python/src/test/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonTypeInformationGenerationTest.kt
  examples/python/README.md
  examples/python/pokemon_service.py
  rust-runtime/aws-smithy-http-server-python/README.md
  rust-runtime/aws-smithy-http-server-python/stubgen.py
Labels: enhancement, python-server

#2610 Allow "Update GitHub Pages" to opt-in to cargo sparse registry
  .github/workflows/github-pages.yml
Labels: needs-sdk-review

#2602 Prevent build stalling with overlapping projections
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustType.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/SymbolMetadataProvider.kt
Labels: bug, needs-sdk-review, needs-server-review

#2570 Expand example documentation
  examples/README.md
Labels: documentation, needs-server-review

#2621 feature: orchestrator retry classifiers
  aws/rust-runtime/aws-http/Cargo.toml
  aws/rust-runtime/aws-runtime/external-types.toml
  aws/rust-runtime/aws-runtime/src/lib.rs
  aws/rust-runtime/aws-runtime/src/retries.rs
  aws/rust-runtime/aws-runtime/src/retries/classifier.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RetryClassifierDecorator.kt
  aws/sra-test/integration-tests/aws-sdk-s3/tests/sra_test.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpAuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointParamsInterceptorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  rust-runtime/aws-smithy-http/src/result.rs
  rust-runtime/aws-smithy-runtime-api/src/client.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries.rs
  rust-runtime/aws-smithy-runtime/external-types.toml
  rust-runtime/aws-smithy-runtime/src/client.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/retries.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/classifier.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/never.rs
  rust-runtime/aws-smithy-types/src/error/metadata.rs
Labels: needs-sdk-review

#2633 Address vulnerabilities reported within the tools directory
  tools/ci-build/changelogger/Cargo.lock
  tools/ci-build/crate-hasher/Cargo.lock
  tools/ci-build/crate-hasher/Cargo.toml
  tools/ci-build/crate-hasher/tests/test.rs
  tools/ci-build/publisher/Cargo.lock
  tools/ci-build/sdk-lints/Cargo.lock
  tools/ci-build/sdk-versioner/Cargo.lock
  tools/ci-cdk/canary-runner/Cargo.lock
  tools/ci-cdk/canary-runner/Cargo.toml
  tools/echo-server/Cargo.lock
Labels: needs-sdk-review
