Repository smithy-lang/smithy-rs, pull requests merged in 2023-03, with the labels that each got.

#2431 Python: Add tests and fix the issues with `Timestamp` and `ByteStream`
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/JsonSerializerGenerator.kt
  codegen-server/python/build.gradle.kts
  codegen-server/python/src/test/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerTypesTest.kt
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/src/pytests/bytestream.rs
  rust-runtime/aws-smithy-http-server-python/src/pytests/harness.rs
  rust-runtime/aws-smithy-http-server-python/src/types.rs
Labels: bug, python-server

#2434 Add hook for CodegenDecorators to insert a custom symbol provider
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientCodegenVisitor.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/RustClientCodegenPlugin.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/testutil/TestHelpers.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/customize/CoreCodegenDecorator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/RustServerCodegenPythonPlugin.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/RustServerCodegenPlugin.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerSymbolProviders.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/testutil/ServerTestHelpers.kt
Labels: needs-server-review

#2436 Remove uncessary type parameter and constraints from `Upgrade` service
  CHANGELOG.next.toml
  design/src/server/anatomy.md
  rust-runtime/aws-smithy-http-server/src/operation/upgrade.rs
Labels: breaking-change, server

#2441 Use a bespoke version of `Either`
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-http-server/src/plugin/either.rs
  rust-runtime/aws-smithy-http-server/src/plugin/filter.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
Labels: bug, server

#2382 Make `RustReservedWordsSymbolProvider` configurable
  CHANGELOG.next.toml
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientReservedWords.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/RustClientCodegenPlugin.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustReservedWords.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/StructureGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/TestHelpers.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustReservedWordsTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/EnumGeneratorTest.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/StructureGeneratorTest.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/RustServerCodegenPythonPlugin.kt
  codegen-server/python/src/test/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerTypesTest.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/RustServerCodegenPlugin.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerReservedWords.kt
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  tools/ci-build/Dockerfile
Labels: breaking-change, needs-server-review

#2450 Fix test failure in `no-default-features`
  aws/sdk/integration-tests/no-default-features/Cargo.toml
  aws/sdk/integration-tests/no-default-features/tests/client-construction.rs
Labels: needs-sdk-review

#2448 Enable the crate reorganization for generic clients
  CHANGELOG.next.toml
  buildSrc/src/main/kotlin/CodegenTestCommon.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustModule.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustSettings.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/error/ErrorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/error/OperationErrorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/http/RequestBindingGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/MakeOperationGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/customizations/ApiKeyAuthDecoratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/customizations/HttpVersionListGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/endpoint/EndpointsDecoratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientEnumGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/EndpointTraitBindingsTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/PaginatorGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/error/ErrorGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/error/OperationErrorGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/AwsQueryCompatibleTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/eventstream/ClientEventStreamMarshallerGeneratorTest.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/eventstream/ClientEventStreamUnmarshallerGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/EventStreamMarshallTestCases.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/EventStreamUnmarshallTestCases.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationErrorGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/eventstream/ServerEventStreamMarshallerGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/eventstream/ServerEventStreamUnmarshallerGeneratorTest.kt
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/plugins_execution_order.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/simple_integration_test.rs
Labels: breaking-change

#2466 Fix minor docs formatting on `InstrumentOperation`
  rust-runtime/aws-smithy-http-server/src/instrumentation/service.rs
Labels: documentation, server

#2458 Isolate SDK examples from root SDK workspace
  aws/sdk/build.gradle.kts
  tools/ci-build/sdk-versioner/Cargo.lock
  tools/ci-build/sdk-versioner/Cargo.toml
  tools/ci-build/sdk-versioner/src/main.rs
Labels: ready-to-merge

#2461 Install `wasm32-unknown-unknown` target in build image
  tools/ci-build/Dockerfile
Labels: ready-to-merge

#2471 Fix bug in default HTTP Connector provided by aws-config
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/connector.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/sdk/integration-tests/s3/tests/make-connector-override.rs
  rust-runtime/aws-smithy-client/src/test_connection.rs
  tools/ci-cdk/canary-lambda/src/latest/paginator_canary.rs
Labels: ready-to-merge

#2427 Implement Python unions
  .gitignore
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustType.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/StructureGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/UnionGenerator.kt
  codegen-server-test/python/build.gradle.kts
  codegen-server-test/python/model/pokemon.smithy
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerSymbolProvider.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/RustServerCodegenPythonPlugin.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerModuleGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerStructureGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerUnionGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ConstrainedShapeSymbolProvider.kt
  rust-runtime/aws-smithy-http-server-python/examples/.gitignore
  rust-runtime/aws-smithy-http-server-python/src/types.rs
Labels: enhancement, python-server

#2463 Upgrade to Smithy 1.28.1
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/Instantiator.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/InstantiatorTest.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/RangeTraitValidationErrorMessage.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/CustomValidationExceptionWithReasonDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/SmithyValidationExceptionDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedNumberGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedStringGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerBuilderGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedUnionGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  gradle.properties
Labels: server, needs-server-review, client

#2460 Eliminate dependency on `futures-macros`
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-types/Cargo.toml
  aws/sdk/integration-tests/dynamodb/Cargo.toml
  aws/sdk/integration-tests/s3/Cargo.toml
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/CodegenDelegator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCargoDependency.kt
  rust-runtime/aws-smithy-async/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/Cargo.toml
  rust-runtime/aws-smithy-http/Cargo.toml
Labels: ready-to-merge

#2474 Upgrade Tokio to 1.23.1 (RUSTSEC-2023-0001)
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-credential-types/Cargo.toml
  aws/rust-runtime/aws-http/Cargo.toml
  aws/rust-runtime/aws-inlineable/Cargo.toml
  aws/sdk/integration-tests/aws-smithy-runtime-test/Cargo.toml
  aws/sdk/integration-tests/dynamodb/Cargo.toml
  aws/sdk/integration-tests/ec2/Cargo.toml
  aws/sdk/integration-tests/glacier/Cargo.toml
  aws/sdk/integration-tests/iam/Cargo.toml
  aws/sdk/integration-tests/kms/Cargo.toml
  aws/sdk/integration-tests/lambda/Cargo.toml
  aws/sdk/integration-tests/no-default-features/Cargo.toml
  aws/sdk/integration-tests/polly/Cargo.toml
  aws/sdk/integration-tests/qldbsession/Cargo.toml
  aws/sdk/integration-tests/s3/Cargo.toml
  aws/sdk/integration-tests/s3control/Cargo.toml
  aws/sdk/integration-tests/sts/Cargo.toml
  aws/sdk/integration-tests/transcribestreaming/Cargo.toml
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCargoDependency.kt
  rust-runtime/aws-smithy-async/Cargo.toml
  rust-runtime/aws-smithy-checksums/Cargo.toml
  rust-runtime/aws-smithy-client/Cargo.toml
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-tower/Cargo.toml
  rust-runtime/aws-smithy-http/Cargo.toml
Labels: needs-server-review

#2481 Move examples to root, refactor to workspace, and refactor integration tests
  README.md
  design/src/server/anatomy.md
  design/src/server/instrumentation.md
  examples/.gitignore
  examples/BENCHMARKS.md
  examples/Cargo.toml
  examples/Makefile
  examples/README.md
  examples/pokemon-service-common/Cargo.toml
  examples/pokemon-service-common/src/lib.rs
  examples/pokemon-service-common/tests/plugins_execution_order.rs
  examples/pokemon-service-lambda/Cargo.toml
  examples/pokemon-service-lambda/src/lib.rs
  examples/pokemon-service-lambda/src/main.rs
  examples/pokemon-service-lambda/tests/fixtures/example-apigw-request.json
  examples/pokemon-service-tls/Cargo.toml
  examples/pokemon-service-tls/src/lib.rs
  examples/pokemon-service-tls/src/main.rs
  examples/pokemon-service-tls/tests/common/mod.rs
  examples/pokemon-service-tls/tests/http2.rs
  examples/pokemon-service-tls/tests/testdata/localhost.crt
  examples/pokemon-service-tls/tests/testdata/localhost.key
  examples/pokemon-service/Cargo.toml
  examples/pokemon-service/src/lib.rs
  examples/pokemon-service/src/main.rs
  examples/pokemon-service/src/plugin.rs
  examples/pokemon-service/tests/common/mod.rs
  examples/pokemon-service/tests/event_streaming.rs
  examples/pokemon-service/tests/simple.rs
  rust-runtime/aws-smithy-http-server/examples/README.md
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/Cargo.toml
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service-connect-info.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/src/bin/pokemon-service-lambda.rs
  rust-runtime/aws-smithy-http-server/examples/pokemon-service/tests/helpers.rs
  rust-runtime/aws-smithy-http-server/src/request/connect_info.rs
  tools/ci-scripts/check-server-e2e-test
Labels: documentation, server

#2442 Make service builder handler setters more flexible
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
  rust-runtime/aws-smithy-http-server/src/operation/upgrade.rs
Labels: ergonomics, server

#2486 Respect the `ShapeVisitor` methods - `operation_shape.rs`
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRustModule.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationShapeGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
Labels: server, refactoring

#2490 Refactor `ShapeVisitor` methods - `PythonServerOperationErrorGenerator`
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
Labels: needs-server-review, python-server

#2493 Refactor `ShapeVisitor` methods - `ServerServiceGeneratorV2`
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/PythonServerCodegenVisitor.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonApplicationGenerator.kt
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRustModule.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerRootGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGeneratorV2.kt
Labels: server

#2497 Merge `release-2023-03-23` changelog changes into `main`
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#2513 Make AppName configurable from within ConfigLoader
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-types/src/app_name.rs
Labels: needs-sdk-review
