Repository smithy-lang/smithy-rs, pull requests merged in 2023-12, with the labels that each got.

#3277 Improve error messaging for auth scheme selection
  CHANGELOG.next.toml
  aws/sdk/integration-tests/dynamodb/tests/auth_scheme_error.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
  rust-runtime/aws-smithy-runtime/src/test_util.rs
  rust-runtime/aws-smithy-runtime/src/test_util/assertions.rs
Labels: needs-sdk-review

#3285 Add compile-time env var to add additional info to user agent header
  aws/rust-runtime/aws-http/src/user_agent.rs
Labels: needs-sdk-review

#3310 Add skeletal workflow file for credentials verification
  .github/workflows/credentials-verification.yml
Labels: needs-sdk-review

#3300 Add support for constructing sdk body types from http-body 1.0
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/additional-ci
  rust-runtime/aws-smithy-types/src/body.rs
  rust-runtime/aws-smithy-types/src/body/http_body_0_4_x.rs
  rust-runtime/aws-smithy-types/src/body/http_body_1_x.rs
  rust-runtime/aws-smithy-types/src/byte_stream.rs
  rust-runtime/aws-smithy-types/src/byte_stream/bytestream_util.rs
  rust-runtime/aws-smithy-types/src/byte_stream/http_body_1_x.rs
Labels: needs-sdk-review

#3298 Upgrade MSRV to Rust 1.72.1
  .github/workflows/ci.yml
  .github/workflows/claim-crate-names.yml
  .github/workflows/github-pages.yml
  .github/workflows/release.yml
  .github/workflows/update-sdk-next.yml
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-inlineable/src/glacier_interceptors.rs
  aws/rust-runtime/aws-runtime/src/invocation_id.rs
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/Rust.kt
  gradle.properties
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/headers.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/uri/label.rs
  rust-runtime/aws-smithy-json/src/escape.rs
  rust-runtime/aws-smithy-runtime-api/src/client/connection.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime/src/client/http/hyper_014.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/dvr/record.rs
  rust-runtime/aws-smithy-runtime/src/test_util/assertions.rs
  rust-runtime/aws-smithy-types/src/config_bag.rs
  rust-runtime/inlineable/src/endpoint_lib/s3.rs
  rust-runtime/inlineable/src/endpoint_lib/substring.rs
  rust-toolchain.toml
  tools/ci-build/Dockerfile
  tools/ci-build/crate-hasher/tests/test.rs
  tools/ci-build/publisher/src/cargo/get_owners.rs
  tools/ci-build/publisher/src/package.rs
  tools/ci-build/publisher/src/subcommand/fix_manifests.rs
  tools/ci-build/smithy-rs-tool-common/src/changelog.rs
  tools/ci-cdk/canary-lambda/src/canary.rs
  tools/ci-cdk/canary-runner/src/build_bundle.rs
  tools/echo-server/Cargo.lock
Labels: ready-to-merge

#3314 Add daily credentials verification workflow
  .github/workflows/credentials-verification.yml
Labels: needs-sdk-review

#3323 Fix the build against JDK 20
  aws/rust-runtime/build.gradle.kts
  aws/sdk-adhoc-test/build.gradle.kts
  aws/sdk-codegen/build.gradle.kts
  aws/sdk/build.gradle.kts
  codegen-client/build.gradle.kts
  codegen-core/build.gradle.kts
  codegen-server/build.gradle.kts
  codegen-server/python/build.gradle.kts
  codegen-server/typescript/build.gradle.kts
  rust-runtime/build.gradle.kts
Labels: needs-sdk-review

#3274 Allow injecting methods with generic type parameters in the config object
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServiceConfigGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServiceConfigGeneratorTest.kt
Labels: server

#3083 Add comment before dumping headers in Python server example
  examples/python/pokemon_service.py
Labels: python-server

#3023 Update server TLS example to showcase how to extract connection information
  .github/workflows/ci.yml
  examples/pokemon-service-tls/Cargo.toml
  examples/pokemon-service-tls/src/main.rs
  examples/pokemon-service-tls/tests/custom_connectors.rs
  rust-runtime/aws-smithy-http-server/Cargo.toml
Labels: server
