Repository smithy-lang/smithy-rs, pull requests merged in 2023-05, with the labels that each got.

#2660 Allow canary-runner to specify expected speech text by Transcribe
  tools/ci-cdk/canary-runner/src/run.rs
Labels: needs-sdk-review

#2677 Call `setup_tracing` in the Lambda example
  examples/pokemon-service-lambda/src/main.rs
Labels: server

#2683 Document compatibility of `aws-smithy-http-server` with `lambda_http`
  examples/pokemon-service-lambda/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/routing/lambda_handler.rs
Labels: server

#2685 Bump `lambda_http` dependency of `aws-smithy-http-server` to 0.8.0
  CHANGELOG.next.toml
  examples/pokemon-service-lambda/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/routing/lambda_handler.rs
Labels: next-release, breaking-change, server

#2694 Avoid extending IMDS credentials expiry unconditionally
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/imds/credentials.rs
Labels: needs-sdk-review

#2678 OperationShape::NAME as ShapeId
  CHANGELOG.next.toml
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerOperationGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerServiceGenerator.kt
  examples/pokemon-service/src/plugin.rs
  rust-runtime/aws-smithy-http-server/src/extension.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/layer.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/mod.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/plugin.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/service.rs
  rust-runtime/aws-smithy-http-server/src/lib.rs
  rust-runtime/aws-smithy-http-server/src/operation/mod.rs
  rust-runtime/aws-smithy-http-server/src/operation/shape.rs
  rust-runtime/aws-smithy-http-server/src/plugin/closure.rs
  rust-runtime/aws-smithy-http-server/src/plugin/filter.rs
  rust-runtime/aws-smithy-http-server/src/plugin/mod.rs
  rust-runtime/aws-smithy-http-server/src/plugin/pipeline.rs
  rust-runtime/aws-smithy-http-server/src/shape_id.rs
Labels: next-release, breaking-change, server

#2692 Python: Link `stubgen.{py,sh}` to `resources/` and read them using `getResource()`
  codegen-server/python/src/main/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/customizations/PythonServerCodegenDecorator.kt
  codegen-server/python/src/main/resources/stubgen.py
  codegen-server/python/src/main/resources/stubgen.sh
Labels: bug, python-server

#2697 Allow for configuring interceptors on generic client
  aws/rust-runtime/aws-types/src/sdk_config.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SdkConfigDecorator.kt
  aws/sra-test/integration-tests/aws-sdk-s3/tests/interceptors.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/sra_test.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/util.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/HttpConnectorConfigDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/InterceptorConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/runtime_plugin/anonymous_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/deserializer.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/serializer.rs
Labels: needs-sdk-review

#2700 Unify Pokemon model for Rust and Python servers
  codegen-client-test/build.gradle.kts
  codegen-core/common-test-models/pokemon-awsjson.smithy
  codegen-core/common-test-models/pokemon.smithy
  codegen-server-test/build.gradle.kts
  codegen-server-test/python/build.gradle.kts
  codegen-server-test/python/model/pokemon-common.smithy
  codegen-server-test/python/model/pokemon.smithy
  examples/pokemon-service-common/Cargo.toml
  examples/pokemon-service-common/src/lib.rs
  examples/pokemon-service-lambda/src/main.rs
  examples/pokemon-service-tls/src/main.rs
  examples/pokemon-service/src/main.rs
  examples/python/Makefile
  examples/python/pokemon_service.py
Labels: server, needs-server-review, python-server

#2675 remove native-tls
  .github/workflows/ci.yml
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/src/connector.rs
  aws/rust-runtime/aws-config/src/default_provider/credentials.rs
  aws/rust-runtime/aws-config/src/imds/client.rs
  aws/rust-runtime/aws-config/src/imds/credentials.rs
  aws/rust-runtime/aws-config/src/meta/credentials/chain.rs
  aws/rust-runtime/aws-config/src/profile/credentials.rs
  aws/rust-runtime/aws-config/src/provider_config.rs
  aws/rust-runtime/aws-inlineable/tests/middleware_e2e_test.rs
  aws/rust-runtime/aws-types/Cargo.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsFluentClientDecorator.kt
  aws/sdk/integration-tests/Cargo.toml
  aws/sdk/integration-tests/no-default-features/tests/client-construction.rs
  aws/sdk/integration-tests/using-native-tls-instead-of-rustls/Cargo.toml
  aws/sdk/integration-tests/using-native-tls-instead-of-rustls/tests/no-rustls-in-dependency.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientDecorator.kt
  design/src/transport/connector.md
  rust-runtime/aws-smithy-client/Cargo.toml
  rust-runtime/aws-smithy-client/additional-ci
  rust-runtime/aws-smithy-client/external-types.toml
  rust-runtime/aws-smithy-client/src/builder.rs
  rust-runtime/aws-smithy-client/src/conns.rs
  rust-runtime/aws-smithy-client/src/hyper_ext.rs
  rust-runtime/aws-smithy-client/src/lib.rs
  tools/ci-scripts/check-aws-config
Labels: breaking-change, needs-server-review, needs-client-review

#2726 Render `CustomizableOperation` per crate in orchestrator
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsCustomizableOperationDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/CustomizableOperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
Labels: needs-sdk-review

#2673 Fix event streams in the orchestrator implementation
  CHANGELOG.next.toml
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/auth.rs
  aws/rust-runtime/aws-runtime/src/auth/sigv4.rs
  aws/rust-runtime/aws-sigv4/src/lib.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SigV4AuthDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/MakeOperationGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/RequestSerializerGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/HttpBoundProtocolGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ProtocolTestGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/protocol/ProtocolGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/HttpBoundProtocolPayloadGenerator.kt
  rust-runtime/aws-smithy-http/src/event_stream/sender.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/serializer.rs
Labels: breaking-change

#2539 Error out if `ignoreUnsupportedConstraintTraits` has no effect
  CHANGELOG.next.toml
  codegen-server-test/python/build.gradle.kts
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraintsAreNotUsedTest.kt
Labels: next-release, breaking-change, server

#2733 Fix tiny_map from_iter where one operation was being dropped
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-http-server/src/routing/tiny_map.rs
Labels: bug, server

#2691 Bump `lambda_http` dependency of `aws-smithy-http-server` to 0.8.0 (#2685)
  CHANGELOG.next.toml
  examples/pokemon-service-lambda/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/routing/lambda_handler.rs
Labels: next-release, breaking-change, server

#2728 Integrate TimeSource into the orchestrator and middleware (breaking change warning is spurious)
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/external-types.toml
  aws/rust-runtime/aws-config/src/imds/client/token.rs
  aws/rust-runtime/aws-config/src/imds/credentials.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-config/src/profile/credentials/exec.rs
  aws/rust-runtime/aws-config/src/provider_config.rs
  aws/rust-runtime/aws-config/src/sts.rs
  aws/rust-runtime/aws-config/src/sts/assume_role.rs
  aws/rust-runtime/aws-config/src/sts/util.rs
  aws/rust-runtime/aws-config/src/web_identity_token.rs
  aws/rust-runtime/aws-credential-types/src/time_source.rs
  aws/rust-runtime/aws-inlineable/Cargo.toml
  aws/rust-runtime/aws-inlineable/tests/middleware_e2e_test.rs
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/auth/sigv4.rs
  aws/rust-runtime/aws-sig-auth/Cargo.toml
  aws/rust-runtime/aws-sig-auth/src/middleware.rs
  aws/rust-runtime/aws-types/external-types.toml
  aws/rust-runtime/aws-types/src/sdk_config.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsCustomizableOperationDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsPresigningDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SdkConfigDecorator.kt
  aws/sdk/integration-tests/kms/Cargo.toml
  aws/sdk/integration-tests/s3/tests/checksums.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/interceptors.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/request_information_headers.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/util.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/ResiliencyConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customize/RequiredCustomizations.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/TimeSourceConfig.kt
  rust-runtime/aws-smithy-async/src/test_util.rs
  rust-runtime/aws-smithy-async/src/time.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client/test_util/interceptor.rs
Labels: breaking-change

#2457 Remove `PollError` from server type parameters
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-http-server/src/operation/handler.rs
  rust-runtime/aws-smithy-http-server/src/operation/mod.rs
  rust-runtime/aws-smithy-http-server/src/operation/operation_service.rs
  rust-runtime/aws-smithy-http-server/src/operation/shape.rs
  rust-runtime/aws-smithy-http-server/src/operation/upgrade.rs
Labels: breaking-change, server, needs-server-review, refactoring

#2735 Move `config_bag` and `type_erasure` to `aws-smithy-types`
  aws/rust-runtime/aws-inlineable/src/apigateway_interceptors.rs
  aws/rust-runtime/aws-inlineable/src/glacier_interceptors.rs
  aws/rust-runtime/aws-runtime/src/auth/sigv4.rs
  aws/rust-runtime/aws-runtime/src/identity.rs
  aws/rust-runtime/aws-runtime/src/invocation_id.rs
  aws/rust-runtime/aws-runtime/src/recursion_detection.rs
  aws/rust-runtime/aws-runtime/src/request_info.rs
  aws/rust-runtime/aws-runtime/src/user_agent.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsCustomizableOperationDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RetryClassifierDecorator.kt
  aws/sra-test/integration-tests/aws-sdk-s3/Cargo.toml
  aws/sra-test/integration-tests/aws-sdk-s3/benches/middleware_vs_orchestrator.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/interceptors.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/request_information_headers.rs
  aws/sra-test/integration-tests/aws-sdk-s3/tests/util.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/InterceptorConfigCustomization.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/generators/EndpointParamsInterceptorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/OperationRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ServiceRuntimePluginGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ClientProtocolGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/RequestSerializerGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ResponseDeserializerGenerator.kt
  rust-runtime/aws-smithy-runtime-api/src/client/auth.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity/http.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors/context.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime-api/src/client/orchestrator/error.rs
  rust-runtime/aws-smithy-runtime-api/src/client/retries.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_plugin.rs
  rust-runtime/aws-smithy-runtime-api/src/lib.rs
  rust-runtime/aws-smithy-runtime/src/client/auth/http.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/anonymous.rs
  rust-runtime/aws-smithy-runtime/src/client/interceptor.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/auth.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/endpoints.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/interceptors/request_attempts.rs
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/interceptors/service_clock_skew.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/fixed_delay.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/never.rs
  rust-runtime/aws-smithy-runtime/src/client/runtime_plugin/anonymous_auth.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/deserializer.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/interceptor.rs
  rust-runtime/aws-smithy-runtime/src/client/test_util/serializer.rs
  rust-runtime/aws-smithy-runtime/src/client/timeout.rs
  rust-runtime/aws-smithy-types/src/config_bag.rs
  rust-runtime/aws-smithy-types/src/config_bag/typeid_map.rs
  rust-runtime/aws-smithy-types/src/lib.rs
  rust-runtime/aws-smithy-types/src/type_erasure.rs
Labels: needs-sdk-review
