Repository smithy-lang/smithy-rs, pull requests merged in 2024-09, with the labels that each got.

#3819 Merge smithy-rs-release-1.x.y into main
  .github/workflows/ci.yml
  aws/sdk/Cargo.lock
Labels: needs-sdk-review

#3814 Operations with an event stream member shape must have `ValidationException`
  .changelog/7869753.md
  codegen-core/common-test-models/constraints.smithy
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraintsAreNotUsedTest.kt
Labels: breaking-change, server

#3811 Restore `SmokeTestsDecoratorTest`
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SmokeTestsDecorator.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/SmokeTestsDecoratorTest.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/TestUtil.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/testutil/ClientCodegenIntegrationTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/CodegenIntegrationTest.kt
Labels: needs-sdk-review

#3821 Update lockfiles
  .github/workflows/pull-request-bot.yml
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-config/Cargo.lock
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/src/json_credentials.rs
  aws/rust-runtime/aws-config/src/sso/credentials.rs
  aws/rust-runtime/aws-config/src/sts/util.rs
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/invocation_id.rs
  aws/rust-runtime/aws-sigv4/Cargo.toml
  aws/rust-runtime/aws-sigv4/src/http_request/canonical_request.rs
  aws/sdk/Cargo.lock
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-eventstream/Cargo.toml
  rust-runtime/aws-smithy-eventstream/src/frame.rs
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/src/error.rs
  rust-runtime/aws-smithy-http/Cargo.toml
  rust-runtime/aws-smithy-http/src/header.rs
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/src/date_time/mod.rs
  rust-runtime/aws-smithy-types/src/str_bytes.rs
  rust-runtime/aws-smithy-xml/Cargo.toml
  rust-runtime/aws-smithy-xml/src/decode.rs
  rust-runtime/inlineable/src/ec2_query_errors.rs
  rust-runtime/inlineable/src/rest_xml_unwrapped_errors.rs
  rust-runtime/inlineable/src/rest_xml_wrapped_errors.rs
  tools/ci-build/Dockerfile
Labels: needs-server-review

#3824 Merge smithy-rs-release-1.x.y into main
  .changelog/1724779868.md
  .changelog/4619777.md
  .changelog/7869753.md
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3829 Enhance gradle tasks for managing lockfiles
  aws/sdk/Cargo.lock
  aws/sdk/build.gradle.kts
Labels: needs-sdk-review

#3827 Add a tool `sdk-lockfiles` to audit lockfiles
  tools/ci-build/sdk-lockfiles/Cargo.lock
  tools/ci-build/sdk-lockfiles/Cargo.toml
  tools/ci-build/sdk-lockfiles/README.md
  tools/ci-build/sdk-lockfiles/src/audit.rs
  tools/ci-build/sdk-lockfiles/src/main.rs
Labels: needs-sdk-review

#3837 Merge smithy-rs-release-1.x.y into main
  .changelog/1725892046.md
  .changelog/removessptranscribestreaming.md
  .changelog/smoketestcodegen.md
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3838 Synchronize the SDK lockfile during release
  tools/ci-build/Dockerfile
  tools/ci-scripts/generate-smithy-rs-release
Labels: needs-sdk-review

#3844 Add workflows to manually/weekly update the runtime lockfiles and the SDK lockfile
  .github/workflows/manual-update-lockfiles.yml
  .github/workflows/pull-request-updating-lockfiles.yml
  .github/workflows/update-lockfiles.yml
  aws/sdk/build.gradle.kts
  tools/ci-build/runtime-versioner/Cargo.lock
  tools/ci-build/runtime-versioner/Cargo.toml
  tools/ci-build/runtime-versioner/src/command/audit.rs
  tools/ci-scripts/cargo-update-lockfiles
Labels: needs-server-review

#3849 Merge smithy-rs-release-1.x.y into main
  .changelog/1725553080.md
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
  aws/sdk/Cargo.lock
Labels: needs-sdk-review
