Repository smithy-lang/smithy-rs, pull requests merged in 2024-04, with the labels that each got.

#3539 Add FIPS support to Hyper 1.0 Client
  .cargo-deny-config.toml
  .github/workflows/ci.yml
  CHANGELOG.next.toml
  rust-runtime/aws-smithy-experimental/Cargo.toml
  rust-runtime/aws-smithy-experimental/README.md
  rust-runtime/aws-smithy-experimental/examples/client-aws-lc.rs
  rust-runtime/aws-smithy-experimental/src/hyper_1_0.rs
  rust-runtime/aws-smithy-experimental/tests/smoke_test_clients.rs
  tools/ci-build/Dockerfile
  tools/ci-scripts/test-windows.sh
Labels: breaking-change

#3549 Fix release issues
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
  aws/sdk/integration-tests/dynamodb/tests/shared-config.rs
Labels: needs-sdk-review

#2075 Add RFC for improving client error ergonomics
  design/src/SUMMARY.md
  design/src/rfcs/overview.md
  design/src/rfcs/rfc0041_improve_client_error_ergonomics.md
Labels: client, rfc

#3567 Merge smithy-rs-release-1.x.y into main
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/RegionDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SdkConfigDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/s3/S3Decorator.kt
  aws/sdk/integration-tests/dynamodb/Cargo.toml
  aws/sdk/integration-tests/dynamodb/tests/shared-config.rs
Labels: needs-sdk-review

#3313 Add RFC for changing the smithy-rs changelog process
  design/src/SUMMARY.md
  design/src/rfcs/overview.md
  design/src/rfcs/rfc0042_file_per_change_changelog.md
Labels: needs-sdk-review, needs-server-review

#3526 Implement Jmespath shape traversal codegen for waiters
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustJmespathShapeTraversalGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustJmespathShapeTraversalGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustType.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustWriter.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/Writable.kt
Labels: needs-sdk-review

#3569 Add multiple binding support to Jmespath traversal generator
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustJmespathShapeTraversalGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustJmespathShapeTraversalGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustType.kt
Labels: needs-sdk-review

#3548 Support daily dry run release
  .github/workflows/dry-run-release.yml
  .github/workflows/prod-release.yml
  .github/workflows/release.yml
Labels: needs-sdk-review

#3568 re-add support for sourcing endpoint URLs from service-specific env config
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/src/default_provider/endpoint_url.rs
  aws/rust-runtime/aws-config/src/lib.rs
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/env_config.rs
  aws/rust-runtime/aws-types/Cargo.toml
  aws/rust-runtime/aws-types/src/lib.rs
  aws/rust-runtime/aws-types/src/origin.rs
  aws/rust-runtime/aws-types/src/sdk_config.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/EndpointBuiltInsDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SdkConfigDecorator.kt
  aws/sdk/integration-tests/dynamodb/Cargo.toml
Labels: needs-sdk-review

#3566 rfc43: fix identity cache partition
  CHANGELOG.next.toml
  aws/rust-runtime/aws-credential-types/Cargo.toml
  aws/rust-runtime/aws-credential-types/src/provider/credentials.rs
  aws/rust-runtime/aws-credential-types/src/provider/token.rs
  aws/sdk/integration-tests/s3/tests/identity-cache.rs
  rust-runtime/aws-smithy-runtime-api/src/client/identity.rs
Labels: needs-sdk-review

#3571 Implement the waiter matcher generator
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustModule.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustWaiterMatcherGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustWaiterMatcherGeneratorTest.kt
Labels: needs-sdk-review

#3579 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3581 Fix runtime-versioner audit edge case with SDK releases
  tools/ci-build/runtime-versioner/src/command/audit.rs
Labels: needs-sdk-review

#3538 Derive `Clone` for `SigningSettings`
  CHANGELOG.next.toml
  aws/rust-runtime/aws-sigv4/Cargo.toml
  aws/rust-runtime/aws-sigv4/src/http_request/settings.rs
Labels: needs-sdk-review, ready-to-merge

#3546 Switch to debug logging for credential fetches
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/src/profile/credentials/exec.rs
  rust-runtime/aws-smithy-runtime/src/client/identity/cache/lazy.rs
Labels: needs-sdk-review, ready-to-merge

#2037 Switch links to Smithy v2 documentation
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/HttpRequestChecksumDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/HttpResponseChecksumDecorator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/SymbolVisitor.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/RestJson.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/EventStreamMarshallerGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedMapGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedShapeGeneratorCommon.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerAwsJson.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/aws-smithy-http-server-python/Cargo.toml
  rust-runtime/aws-smithy-http-server-python/src/error.rs
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/instrumentation/mod.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/plugin.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/headers.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/mod.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/uri/label.rs
  rust-runtime/aws-smithy-http-server/src/instrumentation/sensitivity/uri/query.rs
  rust-runtime/aws-smithy-http-server/src/operation/mod.rs
  rust-runtime/aws-smithy-http-server/src/operation/shape.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json/router.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json_10/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json_11/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/mod.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_xml/mod.rs
  rust-runtime/aws-smithy-http-server/src/routing/mod.rs
  rust-runtime/aws-smithy-http/Cargo.toml
  rust-runtime/aws-smithy-http/src/label.rs
  rust-runtime/aws-smithy-http/src/query.rs
  rust-runtime/aws-smithy-xml/Cargo.toml
  rust-runtime/aws-smithy-xml/src/lib.rs
Labels: documentation

#3582 Add a new step description under `Contributing via Pull Requests`
  CONTRIBUTING.md
Labels: needs-server-review

#3590 Fix compiling S3 crate for wasm
  CHANGELOG.next.toml
  aws/rust-runtime/aws-inlineable/Cargo.toml
  aws/sdk/integration-tests/test.sh
  aws/sdk/integration-tests/webassembly/.cargo/config.toml
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  tools/ci-scripts/check-aws-sdk-standalone-integration-tests
Labels: needs-sdk-review

#3592 Update JDK to 17
  .github/workflows/pull-request-bot.yml
  .github/workflows/update-sdk-next.yml
  examples/README.md
  tools/ci-build/Dockerfile
Labels: needs-sdk-review

#3431 Impl std::error::Error for a shape's ConstraintViolation struct
  CHANGELOG.next.toml
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/EnumTraitValidationErrorMessage.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/LengthTraitValidationErrorMessage.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/PatternTraitValidationErrorMessage.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/RangeTraitValidationErrorMessage.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/UniqueItemsTraitValidationErrorMessage.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/SmithyValidationExceptionDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/CollectionConstraintViolationGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedBlobGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedCollectionGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedNumberGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedStringGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/MapConstraintViolationGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerEnumGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedUnionGenerator.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedCollectionGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedMapGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedNumberGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ConstrainedStringGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/TestUtility.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedMapGeneratorTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/UnconstrainedUnionGeneratorTest.kt
Labels: server

#3596 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3527 Enable stalled stream protection for uploads behind new behavior version
  CHANGELOG.next.toml
  aws/rust-runtime/aws-inlineable/src/s3_express.rs
  aws/rust-runtime/aws-types/Cargo.toml
  aws/rust-runtime/aws-types/src/sdk_config.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/s3/S3ExpressDecorator.kt
  aws/sdk/integration-tests/no-default-features/tests/client-construction.rs
  aws/sdk/integration-tests/s3/tests/identity-cache.rs
  aws/sdk/integration-tests/s3/tests/stalled-stream-protection.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/config/ServiceConfigGenerator.kt
  rust-runtime/aws-smithy-runtime-api/Cargo.toml
  rust-runtime/aws-smithy-runtime-api/src/client/behavior_version.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client/defaults.rs
Labels: needs-sdk-review

#3595 Implement waiters
  CHANGELOG.next.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsFluentClientDecorator.kt
  aws/sdk/integration-tests/ec2/Cargo.toml
  aws/sdk/integration-tests/ec2/tests/instance-status-ok-waiter-success.json
  aws/sdk/integration-tests/ec2/tests/waiters.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustModule.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentBuilderGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientDocs.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/client/FluentClientGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/error/ServiceErrorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustJmespathShapeTraversalGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustWaiterMatcherGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/WaitableGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/WaiterAcceptorGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/RustJmespathShapeTraversalGeneratorTest.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/RustType.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/RuntimeType.kt
  rust-runtime/aws-smithy-runtime-api/Cargo.toml
  rust-runtime/aws-smithy-runtime-api/src/client.rs
  rust-runtime/aws-smithy-runtime-api/src/client/interceptors/context.rs
  rust-runtime/aws-smithy-runtime-api/src/client/result.rs
  rust-runtime/aws-smithy-runtime-api/src/client/runtime_components.rs
  rust-runtime/aws-smithy-runtime-api/src/client/waiters.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client.rs
  rust-runtime/aws-smithy-runtime/src/client/waiters.rs
  rust-runtime/aws-smithy-runtime/src/client/waiters/backoff.rs
Labels: needs-sdk-review

#3602 Allow manual invocation of verify TLS CI step
  .github/workflows/ci-tls.yml
Labels: needs-sdk-review

#3578 create an IdentityCache by default when on latest BehaviorVersion
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/src/lib.rs
  aws/sdk/integration-tests/s3/tests/identity-cache.rs
  design/src/rfcs/rfc0043_identity_cache_partitions.md
Labels: needs-sdk-review

#3610 Allow custom partitions to be used at runtime
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/endpoint/rulesgen/StdLib.kt
Labels: needs-sdk-review

#3612 Allow only patch-level bumps for `fastrand` in testing
  rust-runtime/aws-smithy-runtime/Cargo.toml
Labels: needs-sdk-review

#3611 Make the `use_dualstack` provider public
  CHANGELOG.next.toml
  aws/rust-runtime/aws-config/Cargo.toml
  aws/rust-runtime/aws-config/src/default_provider/use_dual_stack.rs
Labels: needs-sdk-review

#3615 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review
