Repository smithy-lang/smithy-rs, pull requests merged in 2024-07, with the labels that each got.

#3731 add basic CI and debugging instructions for S3 transfer manager
  .github/workflows/ci.yml
  aws/hll/aws-s3-transfer-manager/.cargo/config.toml
  aws/hll/aws-s3-transfer-manager/.gitignore
  aws/hll/aws-s3-transfer-manager/Cargo.toml
  aws/hll/aws-s3-transfer-manager/README.md
  aws/hll/aws-s3-transfer-manager/examples/cp.rs
  aws/hll/aws-s3-transfer-manager/src/download.rs
  aws/hll/aws-s3-transfer-manager/src/download/body.rs
  aws/hll/aws-s3-transfer-manager/src/download/discovery.rs
  aws/hll/aws-s3-transfer-manager/src/download/handle.rs
  aws/hll/aws-s3-transfer-manager/src/download/worker.rs
  aws/hll/aws-s3-transfer-manager/src/error.rs
  aws/hll/aws-s3-transfer-manager/src/lib.rs
  tools/ci-scripts/check-aws-sdk-hll-s3-transfer-manager
Labels: needs-sdk-review

#3737 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3728 Upgrade Smithy to 1.50.0
  codegen-client-test/build.gradle.kts
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ClientProtocolTestGenerator.kt
  codegen-core/common-test-models/rest-json-extras-2310.smithy
  codegen-core/common-test-models/rest-json-extras-2314.smithy
  codegen-core/common-test-models/rest-json-extras-2315.smithy
  codegen-core/common-test-models/rest-json-extras.smithy
  codegen-core/common-test-models/rest-xml-extras.smithy
  codegen-server-test/build.gradle.kts
  codegen-server-test/python/build.gradle.kts
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  gradle.properties
Labels: needs-sdk-review

#3378 Add tracing calls when an extension parameter cannot be constructed
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/operation/upgrade.rs
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_json_1/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/protocol/rest_xml/runtime_error.rs
  rust-runtime/aws-smithy-http-server/src/rejection.rs
  rust-runtime/aws-smithy-http-server/src/request/mod.rs
Labels: breaking-change, server

#3741 AWS JSON 1.x server request specs can be `&'static str`s
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/RuntimeType.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/protocol/aws_json/router.rs
Labels: breaking-change, server

#3752 Refactor determining server error type when deserializing an `@httpPayload`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/http/ServerRequestBindingGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
Labels: server

#3756 add io related abstractions to support s3 tm uploads
  aws/hll/aws-s3-transfer-manager/Cargo.toml
  aws/hll/aws-s3-transfer-manager/src/download/object_meta.rs
  aws/hll/aws-s3-transfer-manager/src/io/error.rs
  aws/hll/aws-s3-transfer-manager/src/io/mod.rs
  aws/hll/aws-s3-transfer-manager/src/io/part_reader.rs
  aws/hll/aws-s3-transfer-manager/src/io/path_body.rs
  aws/hll/aws-s3-transfer-manager/src/io/size_hint.rs
  aws/hll/aws-s3-transfer-manager/src/io/stream.rs
  aws/hll/aws-s3-transfer-manager/src/lib.rs
Labels: needs-sdk-review

#3762 Re-export `HttpRequest` and `HttpResponse` in client crates
  CHANGELOG.next.toml
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/ClientRustModule.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientRuntimeTypesReExportGenerator.kt
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/ClientRuntimeTypesReExportGeneratorTest.kt
Labels: needs-sdk-review

#3761 s3 tm upload req resp
  aws/hll/aws-s3-transfer-manager/src/lib.rs
  aws/hll/aws-s3-transfer-manager/src/upload.rs
  aws/hll/aws-s3-transfer-manager/src/upload/request.rs
  aws/hll/aws-s3-transfer-manager/src/upload/response.rs
Labels: needs-sdk-review

#3763 Add support for changelog entry markdown files
  tools/ci-build/changelogger/Cargo.lock
  tools/ci-build/changelogger/src/render.rs
  tools/ci-build/changelogger/src/split.rs
  tools/ci-build/sdk-lints/Cargo.lock
  tools/ci-build/sdk-lints/src/changelog.rs
  tools/ci-build/smithy-rs-tool-common/Cargo.toml
  tools/ci-build/smithy-rs-tool-common/src/changelog.rs
  tools/ci-build/smithy-rs-tool-common/src/changelog/parser.rs
Labels: needs-sdk-review, needs-server-review

#3766 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3771 Add new subcommands to `changelogger` for supporting file-per-change changelog
  .changelog/.keep
  tools/ci-build/changelogger/Cargo.lock
  tools/ci-build/changelogger/Cargo.toml
  tools/ci-build/changelogger/src/entry.rs
  tools/ci-build/changelogger/src/lib.rs
  tools/ci-build/changelogger/src/ls.rs
  tools/ci-build/changelogger/src/main.rs
  tools/ci-build/changelogger/src/new.rs
  tools/ci-build/changelogger/src/render.rs
  tools/ci-build/sdk-lints/src/changelog.rs
  tools/ci-build/sdk-lints/src/lint.rs
  tools/ci-build/smithy-rs-tool-common/src/changelog.rs
  tools/ci-build/smithy-rs-tool-common/src/changelog/parser.rs
Labels: needs-server-review
