Repository smithy-lang/smithy-rs, pull requests merged in 2024-06, with the labels that each got.

#3680 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3682 additional service specific protocol tests
  aws/sdk-adhoc-test/build.gradle.kts
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/IntegrationTestDependencies.kt
  aws/sdk/aws-models/s3-tests.smithy
Labels: needs-sdk-review

#3681 Revert pinning tokio version in codegen integ tests
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/CodegenIntegrationTest.kt
Labels: needs-sdk-review

#3688 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3692 Pin crc32c to a newer working version
  rust-runtime/aws-smithy-checksums/Cargo.toml
Labels: needs-sdk-review

#3686 make smithy-rs the source of truth for extra AWS model tests
  aws/sdk/aws-models-extra/README.md
  aws/sdk/aws-models-extra/batch-tests.smithy
  aws/sdk/aws-models-extra/ebs-tests.smithy
  aws/sdk/aws-models-extra/glacier-tests.smithy
  aws/sdk/aws-models-extra/route53-tests.smithy
  aws/sdk/aws-models-extra/s3-tests.smithy
  aws/sdk/aws-models-extra/sqs-tests.smithy
  aws/sdk/aws-models/s3.json
  aws/sdk/integration-tests/s3/tests/express.rs
  aws/sdk/integration-tests/s3/tests/select-object-content.json
  aws/sdk/integration-tests/s3/tests/select-object-content.rs
  buildSrc/src/main/kotlin/aws/sdk/ServiceLoader.kt
Labels: needs-sdk-review

#3693 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3699 Allow S3 to retry on HTTP response 200 with InternalError
  CHANGELOG.next.toml
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/retries/classifiers.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsCodegenDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/ServiceSpecificDecorator.kt
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/s3/S3Decorator.kt
  aws/sdk/integration-tests/s3/tests/status-200-errors.rs
Labels: needs-sdk-review

#3702 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3690 Fix request `Content-Type` header checking in servers
  CHANGELOG.next.toml
  codegen-client-test/build.gradle.kts
  codegen-core/common-test-models/rest-json-extras-2310.smithy
  codegen-core/common-test-models/rest-json-extras-2314.smithy
  codegen-core/common-test-models/rest-json-extras-2315.smithy
  codegen-core/common-test-models/rest-json-extras.smithy
  codegen-server-test/build.gradle.kts
  codegen-server-test/python/build.gradle.kts
  codegen-server/python/src/test/kotlin/software/amazon/smithy/rust/codegen/server/python/smithy/generators/PythonServerTypesTest.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocolTestGenerator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/ServerHttpBoundProtocolGenerator.kt
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/protocol/mod.rs
  rust-runtime/aws-smithy-http-server/src/rejection.rs
Labels: bug, breaking-change, server

#3708 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  CHANGELOG.next.toml
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3719 Refactor the `as_validation_exception_field` function definition in `ServerBuilderConstraintViolations`.
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/CustomValidationExceptionWithReasonDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/SmithyValidationExceptionDecorator.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ServerBuilderConstraintViolations.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/ValidationExceptionConversionGenerator.kt
Labels: server

#3697 s3-tm naive multipart download
  aws/hll/aws-s3-transfer-manager/Cargo.toml
  aws/hll/aws-s3-transfer-manager/README.md
  aws/hll/aws-s3-transfer-manager/examples/cp.rs
  aws/hll/aws-s3-transfer-manager/src/download.rs
  aws/hll/aws-s3-transfer-manager/src/download/body.rs
  aws/hll/aws-s3-transfer-manager/src/download/context.rs
  aws/hll/aws-s3-transfer-manager/src/download/discovery.rs
  aws/hll/aws-s3-transfer-manager/src/download/handle.rs
  aws/hll/aws-s3-transfer-manager/src/download/object_meta.rs
  aws/hll/aws-s3-transfer-manager/src/download/worker.rs
Labels: needs-sdk-review

#3720 Define a function to return operation shapes that need a `ValidationException`
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ValidateUnsupportedConstraints.kt
Labels: server
