Repository smithy-lang/smithy-rs, pull requests merged in 2024-08, with the labels that each got.

#3774 Switch to file-per-change changelog
  .changelog/.example
  .changelog/.keep
  .changelog/1722464864.md
  .changelog/1722464947.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.next.toml
  CONTRIBUTING.md
  design/src/rfcs/rfc0042_file_per_change_changelog.md
  tools/ci-build/changelogger/Cargo.lock
  tools/ci-build/changelogger/Cargo.toml
  tools/ci-build/changelogger/README.md
  tools/ci-build/changelogger/src/init.rs
  tools/ci-build/changelogger/src/lib.rs
  tools/ci-build/changelogger/src/main.rs
  tools/ci-build/changelogger/src/new.rs
  tools/ci-build/changelogger/src/render.rs
  tools/ci-build/changelogger/src/split.rs
  tools/ci-build/changelogger/tests/e2e_test.rs
  tools/ci-build/sdk-lints/src/changelog.rs
  tools/ci-build/smithy-rs-tool-common/src/changelog.rs
  tools/ci-build/smithy-rs-tool-common/src/changelog/parser.rs
  tools/ci-scripts/generate-new-changelog-next-toml
  tools/ci-scripts/generate-smithy-rs-release
Labels: needs-server-review

#3781 Allow User Agent to accept business metrics
  .changelog/1722623288.md
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-http/Cargo.toml
  aws/rust-runtime/aws-http/src/user_agent.rs
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/user_agent.rs
  aws/rust-runtime/aws-runtime/src/user_agent/metrics.rs
  tools/ci-build/changelogger/src/render.rs
Labels: needs-sdk-review

#3784 Merge smithy-rs-release-1.x.y into main
  .changelog/1722464864.md
  .changelog/1722464947.md
  .changelog/1722544572.md
  .changelog/1722623288.md
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3786 Make connection recording tests less senstive to semver hazards
  aws/rust-runtime/Cargo.lock
  aws/sdk/integration-tests/codecatalyst/tests/sso_bearer_auth.rs
  aws/sdk/integration-tests/kms/tests/integration.rs
  aws/sdk/integration-tests/qldbsession/tests/integration.rs
  aws/sdk/integration-tests/s3/tests/checksums.rs
  aws/sdk/integration-tests/s3/tests/content-length-enforcement.rs
  aws/sdk/integration-tests/s3/tests/ignore-invalid-xml-body-root.rs
  aws/sdk/integration-tests/s3/tests/naughty-string-metadata.rs
  aws/sdk/integration-tests/s3/tests/no_auth.rs
  aws/sdk/integration-tests/s3/tests/normalize-uri-path.rs
  aws/sdk/integration-tests/s3/tests/query-strings-are-correctly-encoded.rs
  aws/sdk/integration-tests/s3/tests/request_information_headers.rs
  aws/sdk/integration-tests/s3/tests/signing-it.rs
  aws/sdk/integration-tests/s3control/tests/signing-it.rs
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/dvr/replay.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/replay.rs
Labels: needs-sdk-review

#3789 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3791 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/src/date_time/mod.rs
Labels: needs-sdk-review

#3793 Provide business metrics for RPC V2 CBOR, Gzip request compression, paginator, and waiter
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/user_agent.rs
  aws/rust-runtime/aws-runtime/src/user_agent/interceptor.rs
  aws/rust-runtime/aws-runtime/src/user_agent/metrics.rs
  aws/rust-runtime/aws-runtime/src/user_agent/test_util.rs
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/AwsRuntimeType.kt
  aws/sdk-codegen/src/test/kotlin/software/amazon/smithy/rustsdk/UserAgentDecoratorTest.kt
  aws/sdk/integration-tests/ec2/Cargo.toml
  aws/sdk/integration-tests/ec2/tests/paginators.rs
  aws/sdk/integration-tests/ec2/tests/waiters.rs
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/RustClientCodegenPlugin.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/customizations/StaticSdkFeatureTrackerDecorator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/PaginatorGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/waiters/WaitableGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client.rs
  rust-runtime/aws-smithy-runtime/src/client/sdk_feature.rs
  rust-runtime/inlineable/Cargo.toml
  rust-runtime/inlineable/src/client_request_compression.rs
  rust-runtime/inlineable/src/lib.rs
  rust-runtime/inlineable/src/sdk_feature_tracker.rs
Labels: needs-sdk-review

#3796 Re-export `ByteStream`'s `Length` and `FsBuilder` in client crates
  .changelog/1724096455.md
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/customizations/SmithyTypesPubUseExtra.kt
  codegen-core/src/test/kotlin/software/amazon/smithy/rust/codegen/core/smithy/customizations/SmithyTypesPubUseExtraTest.kt
Labels: needs-sdk-review

#3795 backport connection poisoning to hyper 1.x client
  .changelog/1724090349.md
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-experimental/Cargo.toml
  rust-runtime/aws-smithy-experimental/src/hyper_1_0.rs
Labels: needs-sdk-review

#3797 Fix `Length::UpTo` usage in `FsBuilder` so it does not exceed available file length
  .changelog/1724182177.md
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/src/byte_stream/bytestream_util.rs
Labels: needs-sdk-review

#3798 Fix execution order of `read_before_serialization` and `modify_before_serialization`
  .changelog/1724255475.md
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client/orchestrator.rs
Labels: needs-sdk-review

#3799 Restore `ENABLE_SMOKETESTS` for running smoketests
  tools/ci-scripts/check-aws-sdk-services
Labels: needs-sdk-review

#3800 Upgrade MSRV to 1.78.0
  .changelog/1724459075.md
  .github/workflows/ci.yml
  .github/workflows/claim-crate-names.yml
  .github/workflows/github-pages.yml
  .github/workflows/release.yml
  .github/workflows/update-sdk-next.yml
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-credential-types/Cargo.toml
  aws/rust-runtime/aws-credential-types/src/credential_fn.rs
  aws/rust-runtime/aws-credential-types/src/token_fn.rs
  aws/rust-runtime/aws-inlineable/src/lib.rs
  aws/rust-runtime/aws-runtime/Cargo.toml
  aws/rust-runtime/aws-runtime/src/env_config/property.rs
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/CodegenDelegator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/Rust.kt
  gradle.properties
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-http-server/Cargo.toml
  rust-runtime/aws-smithy-http-server/src/routing/tiny_map.rs
  rust-runtime/aws-smithy-http/Cargo.toml
  rust-runtime/aws-smithy-http/src/event_stream/sender.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client/orchestrator/operation.rs
  rust-runtime/aws-smithy-runtime/src/client/retries/strategy/standard.rs
  rust-runtime/aws-smithy-types/Cargo.toml
  rust-runtime/aws-smithy-types/src/body.rs
  rust-runtime/aws-smithy-types/src/config_bag.rs
  rust-runtime/aws-smithy-types/src/type_erasure.rs
  rust-toolchain.toml
  tools/ci-build/Dockerfile
Labels: needs-server-review

#3809 Fix deterministic codegen check for `SmokeTestsDecorator`
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/SmokeTestsDecorator.kt
Labels: needs-sdk-review

#3810 Merge smithy-rs-release-1.x.y into main
  .changelog/1724090349.md
  .changelog/1724096455.md
  .changelog/1724182177.md
  .changelog/1724255475.md
  .changelog/1724459075.md
  .changelog/account-id-endpoint-built-ins.md
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3803 Add server codegen flag addValidationExceptionToConstrainedOperations
  .changelog/4619777.md
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/CodegenIntegrationTest.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerRustSettings.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/transformers/AttachValidationExceptionToConstrainedOperationInputs.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/AddValidationExceptionToConstrainedOperationsTest.kt
Labels: server
