Repository smithy-lang/smithy-rs, pull requests merged in 2024-10, with the labels that each got.

#3794 Fix constraint-related errors in Rpcv2CBOR server implementation
  .changelog/2155171.md
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/eventstream/ClientEventStreamUnmarshallerGeneratorTest.kt
  codegen-core/build.gradle.kts
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/RpcV2Cbor.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/parse/CborParserGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/serialize/CborSerializerGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/EventStreamTestModels.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/testutil/EventStreamUnmarshallTestCases.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ServerCodegenVisitor.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/customizations/BeforeSerializingMemberCborCustomization.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/generators/protocol/ServerProtocol.kt
  codegen-server/src/main/kotlin/software/amazon/smithy/rust/codegen/server/smithy/transformers/ServerProtocolBasedTransformationFactory.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/ConstraintsTest.kt
  codegen-server/src/test/kotlin/software/amazon/smithy/rust/codegen/server/smithy/protocols/serialize/CborConstraintsIntegrationTest.kt
  rust-runtime/inlineable/src/cbor_errors.rs
Labels: server

#3858 Merge smithy-rs-release-1.x.y into main
  .changelog/2155171.md
  .changelog/4106176.md
  .changelog/9278363.md
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
  aws/sdk/Cargo.lock
Labels: needs-sdk-review

#3857 Add allowlist for audit errors to `sdk-lockfiles`
  tools/ci-build/sdk-lockfiles/Cargo.lock
  tools/ci-build/sdk-lockfiles/Cargo.toml
  tools/ci-build/sdk-lockfiles/README.md
  tools/ci-build/sdk-lockfiles/false-positives.txt
  tools/ci-build/sdk-lockfiles/src/audit.rs
Labels: needs-sdk-review

#3856 Run `cargo update` on the runtime lockfiles and the SDK lockfile
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-config/Cargo.lock
  aws/sdk/Cargo.lock
  rust-runtime/Cargo.lock
  tools/ci-build/sdk-lockfiles/Cargo.lock
  tools/ci-build/sdk-lockfiles/Cargo.toml
  tools/ci-build/sdk-lockfiles/README.md
  tools/ci-build/sdk-lockfiles/false-positives.txt
  tools/ci-build/sdk-lockfiles/src/audit.rs
Labels: needs-sdk-review

#3860 Rework addressing code review feedback in smithy-rs#3859
  aws/sdk/integration-tests/ec2/tests/paginators.rs
Labels: needs-sdk-review

#3861 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3865 Merge smithy-rs-release-1.x.y into main
  .changelog/1728064252.md
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review

#3871 Make `TransferredBytes` be the top of the list in `BinLabel`
  .changelog/1728489433.md
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/src/client/http/body/minimum_throughput/throughput.rs
Labels: needs-sdk-review

#3872 Merge smithy-rs-release-1.x.y into main
  .changelog/1728489433.md
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
  aws/sdk/Cargo.lock
Labels: needs-sdk-review

#3874 Add integration test for stall stream protection based on aws-sdk-rust#1202
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/tests/stalled_stream_download.rs
Labels: needs-sdk-review

#3866 consolidate http client implementation(s)
  .cargo-deny-config.toml
  .github/workflows/ci.yml
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-config/Cargo.lock
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/IntegrationTestDependencies.kt
  aws/sdk/Cargo.lock
  aws/sdk/integration-tests/s3/Cargo.toml
  aws/sdk/integration-tests/s3/tests/hyper-10.rs
  build.gradle.kts
  buildSrc/src/main/kotlin/CrateSet.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  rust-runtime/Cargo.lock
  rust-runtime/Cargo.toml
  rust-runtime/aws-smithy-experimental/Cargo.toml
  rust-runtime/aws-smithy-experimental/external-types.toml
  rust-runtime/aws-smithy-experimental/src/lib.rs
  rust-runtime/aws-smithy-http-client/Cargo.toml
  rust-runtime/aws-smithy-http-client/LICENSE
  rust-runtime/aws-smithy-http-client/README.md
  rust-runtime/aws-smithy-http-client/examples/client-aws-lc.rs
  rust-runtime/aws-smithy-http-client/examples/client-ring.rs
  rust-runtime/aws-smithy-http-client/examples/custom-dns.rs
  rust-runtime/aws-smithy-http-client/external-types.toml
  rust-runtime/aws-smithy-http-client/src/hyper_1.rs
  rust-runtime/aws-smithy-http-client/src/hyper_legacy.rs
  rust-runtime/aws-smithy-http-client/src/lib.rs
  rust-runtime/aws-smithy-http-client/tests/smoke_test_clients.rs
  rust-runtime/aws-smithy-runtime-api/Cargo.toml
  rust-runtime/aws-smithy-runtime-api/src/client/connection.rs
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/external-types.toml
  rust-runtime/aws-smithy-runtime/src/client/defaults.rs
  rust-runtime/aws-smithy-runtime/src/client/http.rs
  rust-runtime/aws-smithy-runtime/src/client/http/connection_poisoning.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/dvr/record.rs
  rust-runtime/aws-smithy-runtime/src/client/http/test_util/wire.rs
  tools/ci-build/Dockerfile
  tools/ci-build/sdk-lints/src/lint_cargo_toml.rs
  tools/ci-scripts/check-aws-sdk-cargo-deny
  tools/ci-scripts/test-windows.sh
Labels: needs-sdk-review

#3870 Run `cargo update` on the runtime lockfiles and the SDK lockfile
  .cargo-deny-config.toml
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-config/Cargo.lock
  aws/rust-runtime/aws-inlineable/Cargo.toml
  aws/sdk-codegen/src/main/kotlin/software/amazon/smithy/rustsdk/customize/s3/S3ExpressDecorator.kt
  aws/sdk/Cargo.lock
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/rustlang/CargoDependency.kt
  rust-runtime/Cargo.lock
  tools/ci-build/Dockerfile
Labels: needs-sdk-review

#3878 Run `cargo update` on the runtime lockfiles and the SDK lockfile
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-config/Cargo.lock
  aws/sdk/Cargo.lock
  rust-runtime/Cargo.lock
Labels: needs-sdk-review

#3875 Allow multiple releases per day in the smithy-rs repository
  .github/workflows/ci.yml
  .github/workflows/release-scripts/create-release.js
  .github/workflows/release.yml
  tools/ci-build/changelogger/Cargo.lock
  tools/ci-build/changelogger/Cargo.toml
  tools/ci-build/changelogger/src/main.rs
  tools/ci-build/changelogger/src/render.rs
  tools/ci-build/changelogger/tests/e2e_test.rs
  tools/ci-build/sdk-versioner/Cargo.lock
  tools/ci-build/smithy-rs-tool-common/src/git.rs
  tools/ci-build/smithy-rs-tool-common/src/git/get_current_tag.rs
  tools/ci-build/smithy-rs-tool-common/src/git/get_last_commit.rs
  tools/ci-build/smithy-rs-tool-common/src/git/reset.rs
Labels: needs-server-review

#3883 Send `x-amzn-query-mode` to inform a service with the `awsQueryCompatible` trait that SDK is operating in that mode
  .changelog/1729271936.md
  codegen-client/src/test/kotlin/software/amazon/smithy/rust/codegen/client/smithy/protocols/AwsQueryCompatibleTest.kt
  codegen-core/common-test-models/aws-json-query-compat.smithy
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/AwsQueryCompatible.kt
Labels: needs-sdk-review

#3889 Run `cargo update` on the runtime lockfiles and the SDK lockfile
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-config/Cargo.lock
  aws/sdk/Cargo.lock
  rust-runtime/Cargo.lock
Labels: needs-sdk-review

#3888 migrate http test utils to new http-client crate
  aws/rust-runtime/Cargo.lock
  aws/rust-runtime/aws-config/Cargo.lock
  aws/sdk/Cargo.lock
  aws/sdk/integration-tests/no-default-features/Cargo.toml
  rust-runtime/Cargo.lock
  rust-runtime/aws-smithy-http-client/Cargo.toml
  rust-runtime/aws-smithy-http-client/external-types.toml
  rust-runtime/aws-smithy-http-client/src/hyper_1.rs
  rust-runtime/aws-smithy-http-client/src/lib.rs
  rust-runtime/aws-smithy-http-client/src/test_util.rs
  rust-runtime/aws-smithy-http-client/src/test_util/body.rs
  rust-runtime/aws-smithy-http-client/src/test_util/capture_request.rs
  rust-runtime/aws-smithy-http-client/src/test_util/dvr.rs
  rust-runtime/aws-smithy-http-client/src/test_util/dvr/record.rs
  rust-runtime/aws-smithy-http-client/src/test_util/dvr/replay.rs
  rust-runtime/aws-smithy-http-client/src/test_util/infallible.rs
  rust-runtime/aws-smithy-http-client/src/test_util/legacy_infallible.rs
  rust-runtime/aws-smithy-http-client/src/test_util/never.rs
  rust-runtime/aws-smithy-http-client/src/test_util/replay.rs
  rust-runtime/aws-smithy-http-client/src/test_util/wire.rs
  rust-runtime/aws-smithy-http-client/test-data/example.com.json
  rust-runtime/aws-smithy-runtime/Cargo.toml
  rust-runtime/aws-smithy-runtime/external-types.toml
  rust-runtime/aws-smithy-runtime/src/client/http.rs
  rust-runtime/aws-smithy-runtime/src/lib.rs
  tools/ci-build/sdk-lints/src/lint_cargo_toml.rs
Labels: needs-sdk-review

#3887 Bump smithy version to 1.52
  codegen-client-test/model/error-correction-nullability-test.smithy
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/http/RequestBindingGenerator.kt
  codegen-client/src/main/kotlin/software/amazon/smithy/rust/codegen/client/smithy/generators/protocol/ClientProtocolTestGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/generators/http/HttpBindingGenerator.kt
  codegen-core/src/main/kotlin/software/amazon/smithy/rust/codegen/core/smithy/protocols/RpcV2Cbor.kt
  gradle.properties
Labels: needs-server-review

#3899 Merge smithy-rs-release-1.x.y into main
  CHANGELOG.md
  aws/SDK_CHANGELOG.next.json
Labels: needs-sdk-review
